// $Icon Font Helper
// ============================================================
// Web Fonts Helper
// In order to set you must have the following...
// 1. A Compass @import rule (i.e. @import "compass") before
// this stylesheet or from within webthang.scss.
// 2. [OPTIONAL STEP] Name your fonts directory folder if you do not have one
// 3. Specify within your 'config.rb' file the following line...
//
//      fonts_dir = "name-of-your-fonts-directory" ex.) fonts_dir = "fonts"
//
// $web-fonts can then be called from another stylesheet either before or after this
// very stylesheet you're reading right now. Change at will captain!
// default: $web-fonts: null;
// ex.1) $web-fonts: (web-font-name);
// ex.2) $web-fonts: (web-font-name1, web-font-name2, web-font-name3);
//
// @include font-face() is a compass function so it will require compass
// based off a gist by Chris Van Patten https://gist.github.com/4469518

$web-fonts: (icomoon);

@each $font in $web-fonts {
    @include font-face( $font,
        font-files(
            '#{$font}/#{$font}.woff',
            '#{$font}/#{$font}.ttf',
            '#{$font}/#{$font}.svg', svg
        ),
        '#{$font}/#{$font}.eot'
    )
}


// $IcoMoon
// ============================================================

// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
// Use the following CSS code if you want to have a class per icon
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.icon-menu:before {
    content: "\e001";
}
.icon-settings:before {
    content: "\e000";
}
