@import "queries";
@import "fontello";


// $Global Elements
// ============================================================

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: image-url("subtle_grunge.png") top left repeat;
	color: #212121;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

a, a:visited {
	color: #212121;
}

p code,
.example code {
	// some bug with monospace things causes <code> elements to not inherit the font-size of the <html> element
	// <code> elements inside <pre> DO inherit the proper size, for some reason, so we scope this style to the elements we need
	font-size: 1.125em;
	// so code doesn't wrap onto a second line in the middle of a piece of a word
	word-wrap: normal;
}

abbr {
	// @include smallcaps(gray, 600);
	// ff-meta-serif has no real small caps, so we fake it
	font-variant: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	&:hover {
		cursor: help;
	}
}

dl {
	margin-top: 0;
}

small {
	font-size: 65%;
}

img {
	max-width: 100%;
}

section {
	padding: $line-height * 0.5em 0 $line-height * 1em;
}

.col-wrap {
	width: 92%;
	max-width: 40em;
	margin: 0 auto;
}

hr {
	border: 0;
	height: 0;
	padding: 0;
	border-top: 1px solid grey;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
	&.fancy {
		border-bottom: 1px solid $cobalt-fade;
		margin: 0 0 1.65em;
		text-align: center;
		&:after {
			@extend .delta;
			background-color: #fcfcfc;
			color: $cobalt-fade;
			content: "§";
			position: relative;
			top: -0.75em;
		}
	}
}

// $Logo
// ============================================================

.logo {
	vertical-align: -200%; // why? NO IDEA. But 'middle' doesn't quite line up as nicely
	margin-right: $line-height * 1rem;
	cursor: pointer;

	@include breakpoint(papa-bear) {
		vertical-align: -190%;
		margin-right: 5em;
	}

	@include breakpoint(baby-bear) {
		display: block;
		text-align: center;
		margin-right: 0;
	}
}
.logo-img{
	background: image-url("logo.png") 50% no-repeat;
	width: 12em;
	background-size: cover;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}

	@include breakpoint(papa-bear) {
		width: 12em;
	}

	@include breakpoint(baby-bear) {
		width: 10em;
	}
}


// $Navigation
// ============================================================

.header {
	padding-top: 1.65em;
	background: $white;
	@include breakpoint(baby-bear) {
		text-align: center;
		padding-top: 0;
		p {
			text-align: left;
		}
	}
}

.lede {
	padding-top: 0.825em;
	margin-bottom: 1.65em;
	& > p:not(.no-indent) {
		margin-top: 0;
	}
}

.nav {
	// in preparation for inline-block children
	letter-spacing: -4px;
	//@extend %rhythm;
	display: inline-block;
	@include breakpoint(baby-bear) {
		padding-top: 0.825em;
		display: block;
		text-align: center;
	}
}

.nav-item {
	letter-spacing: normal;
	display: block;
	@extend .delta;
	line-height: 2;
	padding: 0 0.5em 0 0.25em;
	&:hover, &:focus {
		color: $rust;
		text-decoration: underline;
	}
	&:before {
		content: "→ ";
	}

	@include breakpoint(baby-bear) {
		&:before {
			content: "";
		}

		border-radius: 0.333333em;
		display: inline-block;
		padding: 0.825em;
		margin-right: 0.5em;
		font-family: Monaco, Consolas, monospace;
		font-size: 0.825em;
		background: $cobalt-deep;
		color: $white;
		&:visited {
			color: $white;
		}
		&:hover, &:focus {
			background: $rust;
			color: white;
		}
	}
}

.dl-item, .social-item {
	display: inline-block;
	letter-spacing: normal;
	border-radius: 0.333333em;
	font-family: Monaco, Consolas, monospace;
	font-size: 0.825em;
	text-align: center;
}

.downloads {
	background: $cobalt-deep;
	padding: 1.65em 0;
	display: block;
}
.dl-item {
	padding: $line-height * 0.5rem;

	width: 31%;
	margin-right: 3%;
	&:last-of-type {
		margin-right: 0;
	}

	@include breakpoint(bigass-bear) {
		font-size: 0.75em;
		padding: $line-height * 0.35rem;
	}

	@include breakpoint(papa-bear) {
		font-size: 1em;
		padding: $line-height * 0.5rem;
		width: 100%;
		margin-right: 0;
		margin-bottom: 1.65em;
	}

	background: $cobalt-fade;
	color: $cobalt-deep;
	&:hover, &:focus {
		background: $rust;
		color: white;
	}
}

.social-nav {
	position: absolute;
	top: 1.65em;
	right: 1.65em;

	@include breakpoint(mama-bear) {
		position: static;
		margin-bottom: 0.825em;
	}
}
.social-item {
	margin-left: 0.825em;
	padding: 0 0.825em 0 0;
	background: $cobalt-fade;
	color: $cobalt-deep;
	&:hover, &:focus {
		background: $rust;
		color: white;
	}
	i {
		background: $cobalt-deep;
		color: $white;
		display: inline-block;
		padding: 0.65em 0.5em 0.5em 0.825em;
		margin-right: 0.825em;
		border-top-left-radius: 0.333333em;
		border-bottom-left-radius: 0.333333em;
	}
}


// $Table of Contents
// ============================================================

.toc {
	border-radius: 0 0 6px 6px;
	background: #de4d1f;
	color: #f0f0f0;
}

.toc ol {
	list-style: decimal !important;
	counter-reset: item;
}
.toc li {
	@extend .zeta;
	display: block;
}

.toc ol li:before {
	counter-increment: item;
	color: #444;
	font-style: normal;
	font-family: "Cassannet", "ff-meta-serif-web-pro", serif;
}

// epic loop wizardy!
@for $i from 1 through 4 {
	.toc ol:nth-of-type(#{$i}) li:before {
		content: "#{$i}." counter(item) " – ";
	}
}


// $TOC Pull Down
// ============================================================

#table-of-contents h1 {
	&:hover {
		cursor: pointer;
	}
	&:after {
		text-align: center;
		display: block;
		content: "↓";
		background: #000000;
		color: white;
		width: 2em;
		height: 2em;
		line-height: 2.25em;
		margin: 0 auto;
		border-radius: 6px;
	}
}

#drawer {
	height: 0em;
	overflow: hidden;
	&.active {
		//background: white;
		height: auto;
		overflow: visible;
	}
}


// $Example Figures
// ============================================================

.example {
	background: transparentize($cobalt-fade, 0.5);
	border: 1px solid $cobalt-fade;
	box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.75);
	padding: $line-height * 1rem $line-height * 1rem 0;
	margin: $line-height * 1.5rem 0 $line-height * 1rem;
	border-radius: 0.333333em;
	&:before {
		content: "example:";
		@extend .epsilon;
		display: block;
		font-family: "Cassannet", sans-serif;
		background: none;
		line-height: 0;
		position: relative;
		color: #212121;
		top: -2.125em;
		left: -1.65rem;
	}
}
.example > pre {
	margin-top: 0;
	overflow: auto;
	white-space: pre;
	word-spacing: normal;
	@include word-wrap(normal);
}


// $Permalink Anchor
// ============================================================

.perma-anchor {
	color: #444;
	font-weight: normal;
	@extend .gamma;
	position: relative;
	top: -0.125em;
	&:hover, &:focus {
		color: $rust;
	}
}


// $no-js Code Block Styles
// ============================================================

.typeplate-code-block {
	pre {
		font-size: 0.825em;
		background: #021321;
		box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.75);
		padding: $line-height * 1rem;
		.no-js & {
			overflow: auto;
		}
	}
	code {
		color: #ddd;
	}
}


// $Blockquotes -> .extract class
// ============================================================

blockquote {
	font-style: italic;
	@extend .epsilon;
	// so there's no extra line separating the quote and the citation
	p:last-of-type {
		margin-bottom: 0;
	}
	cite {
		font-style: normal;
		@extend %cite;
		&:before {
			content:"—";
		}
	}
}


// $Typographic Scale Demo
// ============================================================

// this is a peculiar instance because we're stacking lots of titles atop one another
// so we manually nix the normal amount of margin below titles
.typographic-scale .no-indent {
	margin: 0;
	text-indent: 0;
}


// $Ampersand Demo
// ============================================================

.amp {
	@extend %ampersand-placeholder;
	text-align: center;
}


// $Figure Demo
// ============================================================

.example-figcaption {
	font-style: italic;
	font-size: 0.85em;
	@extend %rhythm;
	strong {
		font-style: normal;
	}
}


// $Icon Font Demo
// ============================================================

.icons {
	@extend .beta;
	.fs1 {
		display: inline-block;
		&:before {
			padding-right: .25em;
			color: gray;
		}
	}
}


// $Typekit
// ============================================================
/*!
 * FF Meta Serif Web Pro
 * The most influential sans serif of the digital revolution (FF Meta)
 * now has a serif companion. It took three years and three designers
 * to develop FF Meta Serif: Erik Spiekermann, Christian Schwartz and
 * Kris Sowersby. More about FF Meta Serif Web Pro http://metaserif.com
 */

body {
	font-weight: 400;
	.wf-loading & {
		//Typekit Active FOUT Loading
		font-family: serif;
		visibility: hidden;
	}
	.wf-active &,
	.wf-inactive & {
		font-family: "ff-meta-serif-web-pro",serif;
		font-weight: 400;
		visibility: visible;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}


// $Cassannet @font-face
// ============================================================
// We use a helper from our compass config for this
// http://compass-style.org/reference/compass/css3/font_face/

// Cassannet Regular
@include font-face("Cassannet", font-files(
	"cassannet/cassannet.eot", ///* IE9 Compat Modes */
	"cassannet/cassannet.eot?#iefix", // IE6-IE8
	"cassannet/cassannet.woff", // Modern Browsers
	"cassannet/cassannet.ttf", // Safari, Android, iOS
	"cassannet/cassannet.svg#svgFontName" // Legacy iOS
));
// Cassannet Bold
// @include font-face("Cassannet Bold", font-files(
//     "cassannet/cassannet-bold.eot", ///* IE9 Compat Modes */
//     "cassannet/cassannet-bold.eot?#iefix", // IE6-IE8
//     "cassannet/cassannet-bold.woff", // Modern Browsers
//     "cassannet/cassannet-bold.ttf", // Safari, Android, iOS
//     "cassannet/cassannet-bold.svg#svgFontName" // Legacy iOS
// ));



// $Footer
// ============================================================

.site-footer {
	margin-top: 3em;
	font-size: 75%;
}


// $Helpers
// ============================================================

.center {
	text-align: center;
}

.capsify {
	text-transform: uppercase;
	letter-spacing: 0.125rem;
}


// generic bottom rule class
.botDivider {
	border-bottom: 0.44444444rem solid $cobalt-fade;// Thickness is based on the thickness of meta-serif stems (measured 8px at 18px font-size)
	&.bright {
		border-bottom-color: $rust;
	}
}

//control our vertical rhythm
%rhythm {
	margin-top: 0;
	margin-bottom: $line-height * 1rem;
}

// headings helper ala harry roberts
%hN {
	text-rendering: optimizeLegibility;
	// don't use shorthand to avoid spoiling left/right padding on things like buttons
	margin-top: $line-height * 1rem;
	margin-bottom: $line-height * 1rem;
	line-height: 1;
	& + %hN {
		margin: 0;
	}
}


// $Header Styles
// ============================================================

h1, h2, h3, h4, h5, h6 {
	@extend %hN;
	// waddya think?
	// I liked the text shadow in this dribbble shot and thought it fit us.
	// http://dribbble.com/shots/902504-Little-Shop-of-Horrors-Identity?list=following
	//text-shadow: 1px 2px 1px #fffdfd, 1px 3px 1px #fffdfd, 1px 4px 1px #fffdfd, 1px 5px 1px rgb(133, 132, 132);
}


// $Indenting
// ============================================================

p {
	// reset top margin, and set bottom margin equal to one unit of line-height
	@extend %rhythm;
	& + p:not(.no-indent) {
		margin-top: $line-height * -0.5rem;
	}
}


// $Drop Cap
// ============================================================

// This selector class is not included in the actual stylsheet. We leave it for you to decide
// when to use it. We only provide you with the @mixin. This is just an example of
// our chosen class selector purely for demo purposes.
.drop-cap {
	@include dropcap($margin: 0, $padding: 0.125em 0.125em 0 0, $font-size: 6em, $lineHeight: 0.5, $font-family: Copperplate);
}


// $Definition Lists
// ============================================================

.lining {
	@include definition-list-style(lining);
}

.dictionary-style {
	@include definition-list-style(dictionary-style);
}


// $Definition Lists
// ============================================================

.bqstart {
	@include pull-quote(left, 45px, -50px 12px 50px auto, 700%, white);
}

.bqend {
	@include pull-quote(right, 25px, -50px auto auto, 700%, white);
}
