@import "queries";
@import "fontello";

// Typographic Attributes of Meta-serif
//
// BORDER-RADIUS:
// All radius' should be a multiple of 2. Meta-serif has a slight 
// softness but not by much if at all on arms and serifs.
//
// BORDERS:
// All borders should be a multiple of 16 or divisible by 16.


// $Compass Extends
// ============================================================

%transition {
	@include transition(.3s all ease-in-out);
}


// $Global Elements
// ============================================================

* {
	@include box-sizing(border-box);
}

html {
	@include breakpoint(mama-bear) {
		font-size: 100%;
	}
}

body {
	background: image-url("subtle_grunge.png") top left repeat;
	color: #212121;
}

a {
	@extend %transition;
	text-decoration: none;
	color: #de4d1f;
	a:visited {
		color: transparent;
	}
	&:hover {
		text-decoration: underline;
	}
}

p code,
.example code {
	// some bug with monospace things causes <code> elements to not inherit the font-size of the <html> element
	// <code> elements inside <pre> DO inherit the proper size, for some reason, so we scope this style to the elements we need
	font-size: 1.125em;
	// so code doesn't wrap onto a second line in the middle of a piece of a word
	word-wrap: normal;
}

abbr {
	// ff-meta-serif has no real small caps, so we fake it
	font-variant: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	&:hover {
		cursor: help;
	}
}

abbr[title="syntactically awesome stylesheets"] {
	text-transform: capitalize;
}

dl {
	margin-top: 0;
}

small {
	font-size: 65%;
}

img {
	max-width: 100%;
}

section {
	padding: $typl8-line-height * 0.5em 0 $typl8-line-height * 2em;
	@extend %rhythm;
}

.col-wrap {
	width: 92%;
	max-width: 40em;
	margin: 0 auto;
	
	&.top {
		@include breakpoint(baby-bear) {
			padding-top: 15em;
		}
	}
}

hr {
	border: 0;
	height: 0;
	padding: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.29);
	border-bottom: 1px solid rgba(255, 255, 255, 0.35);
	&.fancy {
		border-bottom: 1px solid $cobalt-fade;
		margin: 0 0 1.65em;
		text-align: center;
		&:after {
			@extend .typl8-delta;
			background-color: #fcfcfc;
			color: $cobalt-fade;
			content: "§";
			position: relative;
			top: -0.75em;
		}
	}
}


// $Logo
// ============================================================

.logo {
	//vertical-align: -200%; // why? NO IDEA. But 'middle' doesn't quite line up as nicely
	vertical-align: -50%; // why? NO IDEA. But 'middle' doesn't quite line up as nicely
	margin-right: $typl8-line-height * 1rem;
	cursor: pointer;

	@include breakpoint(papa-bear) {
		vertical-align: -190%;
		margin-right: 5em;
	}

	@include breakpoint(baby-bear) {
		display: block;
		text-align: center;
		margin-right: 0;
		
		background: #414144;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.logo-img {
	.svg & {
		//background: image-url("logo-216x216.svg") 50% no-repeat;
		background: image-url("logo.png") 50% no-repeat;
		@include background-size(100%);
	}
	.no-svg &,
	.no-js & {
		background: image-url("logo.png") 50% no-repeat;
		@include background-size(cover);
	}
	width: 12em;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}

	@include breakpoint(papa-bear) {
		width: 12em;
	}

	@include breakpoint(baby-bear) {
		margin: #{$typl8-line-height/2}em auto;
	}
}


// $Header
// ============================================================

.header {
	padding-top: 1.65em;
	background: $white image-url("typeplate-press.png") center bottom no-repeat;
	// break
	@include breakpoint(baby-bear) {
		padding-top: 0;
		p {
			text-align: left;
		}
	}
}

.lede {
	padding-top: 0.825em;
	margin-bottom: 1.65em;
	& > p:not(.no-indent) {
		margin-top: 0;
	}
}


// $Navigation
// ============================================================

.nav {
	// in preparation for inline-block children
	letter-spacing: -4px;
	//@extend %rhythm;
	display: inline-block;
	@include breakpoint(baby-bear) {
		padding: #{$typl8-line-height * 2.5}em 0 0;
		display: block;
	}
	@media screen and (max-width: 44.9375em) {
		display: block;
	}
}

.nav-item {
	border-bottom: 1.5px solid rgba(156, 153, 153, 0.69);
	letter-spacing: normal;
	display: block;
	@extend .typl8-delta;
	line-height: 2;
	padding: 0 0.5em 0 0.25em;
	margin-bottom: 0;
	color: $rust;
	&:hover,
	&:focus {
		text-decoration: none;
		background: #f7f7f7;
		color: #000000;
	}
	&:last-child {
		border-bottom: none;
	}
	&:before {
		content: "→ ";
	}
}


// $Downloads
// ============================================================

.dl-item,
.social-item {
	display: inline-block;
	letter-spacing: normal;
	border-radius: 0.333333em;
	font-family: Monaco, Consolas, monospace;
	font-size: 0.825em;
	text-align: center;
}

.btn {
	@extend %transition;
	padding: $typl8-line-height * 0.5rem;
	background: $download-btn-bg;
	color: $cobalt-deep;
	// pseudo
	&:last-of-type {
		margin-right: 0;
	}
	&:hover,
	&:focus {
		background: $download-btn-hover;
		color: $white;
		text-decoration: none;
	}
	// filesize line
	small {
		font-size: 80%;
	}
	// back to top button
	&.btn-backtotop {
		@extend .dl-item;
		width: 30%;
		text-rendering: optimizeLegibility;
	}
	// break
	@include breakpoint(bigass-bear) {
		font-size: 0.75em;
		padding: $typl8-line-height * 0.35rem;
	}
	// break
	@include breakpoint(papa-bear) {
		font-size: 1em;
		padding: $typl8-line-height * 0.5rem;
		width: 100%;
	}
}

.downloads {
	background: $cobalt-deep image-url("asfalt.png") top left repeat;
	padding: 1.65em 0;
	display: block;
	.icon-download {
		color: $white;
	}
}

.dl-item.btn {
	width: 32%;
	@include breakpoint(mama-bear) {
		display: block;
		width: 100%;
	}
}

[href*="typeplate-sk.zip"] {
	margin: 0 1%;
	@include breakpoint(mama-bear) {
		margin: #{$typl8-line-height}em auto;
	}
}


// $Social Navigation
// ============================================================

.social-nav {
	position: absolute;
	top: 1.65em;
	right: 1.65em;
	@include breakpoint(baby-bear) {
		top: 12.5em;
		left: 0;
		padding: #{$typl8-line-height/2}em;
		width: 100%;
		text-align: center;
		background: $cobalt-deep image-url("asfalt.png") top left repeat;
	}
	@include breakpoint(mama-bear) {
		margin-top: 0.825em;
		margin-bottom: 0.825em;
	}
}

.social-item {
	@extend %transition;
	margin-left: 0.825em;
	padding: 0 0.825em 0 0;
	background: $cobalt-fade;
	color: $cobalt-deep;
	@include breakpoint(baby-bear) {
		border: 2px solid #BBAFAF;
	}
	i {
		background: $cobalt-deep;
		color: $white;
		display: inline-block;
		padding: 0.65em 0.5em 0.5em 0.825em;
		margin-right: 0.825em;
		border-top-left-radius: 0.333333em;
		border-bottom-left-radius: 0.333333em;
	}
	// pseudo
	&:hover,
	&:focus {
		text-decoration: none;
		background: $rust;
		color: white;
	}
}


// $Table of Contents
// ============================================================

.toc {
	border-radius: 0 0 6px 6px;
	background: #d5d5d5;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 6px 4px rgba(0, 0, 0, 0.37);
	@extend %rhythm;
	padding-bottom: #{$typl8-line-height}em;
}
.toc ol {
	list-style: decimal !important;
	counter-reset: item;
	padding: 0 40px;
}
.toc li {
	border-bottom: 2px dotted #949494;
	display: block;
	@extend .typl8-zeta;
}
.toc ol li:before {
	counter-increment: item;
	color: #444;
	font-style: normal;
	font-family: "Cassannet", "ff-meta-serif-web-pro", serif;
}

// epic loop wizardy!
@for $i from 1 through 4 {
	.toc ol:nth-of-type(#{$i}) li:before {
		content: "#{$i}." counter(item) " – ";
	}
}


// $Drawer Slide Animation
// ============================================================

@mixin animateIn() {
	-webkit-animation: 1000ms slidein 1;
	-moz-animation: 1000ms slidein 1;
	animation: 1000ms slidein 1;
}

@mixin animateOut() {
	-webkit-animation: 1000ms slideout 1;
	-moz-animation: 1000ms slideout 1;
	animation: 1000ms slideout 1;
}

#drawer {
	height: 0;
	overflow: hidden;
}

#drawer{
	&.slide-down {
		height: 996px;
		@include breakpoint(mama-bear) {
			height: 1080px;
		}
	}
	&.slide-up {
		height: 0;
	}
}

.slide-down {
	overflow: visible;
	@include animateIn();
}

.slide-up {
	@include animateOut();
}


// KeyFrames Webkit
// =================================

@-webkit-keyframes slidein {
	from {
		height: 0;
	}

	to {
		height: 996px;
	}
}
@include breakpoint(mama-bear) {
	@-webkit-keyframes slidein {
		from {
			height: 0;
		}

		to {
			height: 1080px;
		}
	}
}

@-webkit-keyframes slideout {
	from {
		height: 1200px;
	}

	to {
		height: 0;
	}
}

@include breakpoint(mama-bear) {
	@-webkit-keyframes slideout {
		from {
			height: 1080px;
		}

		to {
			height: 0;
		}
	}
}


// Keyframes Mozilla
// =================================

@-mozilla-keyframes slidein {
	from {
		height: 0;
	}

	to {
		height: 1245px;
	}
}

@-mozilla-keyframes slideout {
	from {
		height: 1245px;
	}

	to {
		height: 0;
	}
}


// Keyframes Standard
// =================================

@keyframes slidein {
	from {
		height: 0;
	}

	to {
		height: 1245px;
	}
}

@keyframes slideout {
	from {
		height: 1245px;
	}

	to {
		height: 0;
	}
}


// $TOC Pull Down
// ============================================================

#table-of-contents {
	h1 {
		margin: 0;
		padding-top: .5em;
		text-shadow: 0 1px 0 $white;
		color: #606060;
		.icon-download {
			color: #929292;
		}
		&::after {
			content: "-project details listing-";
			display: block;
			font-size: .5em;
			color: scale-lightness(#EFEFEF, -35%);
		}
		&:hover {
			cursor: pointer;
		}
	}
	h2 {
		color: #6f7070;
		text-align: center;
		text-shadow: 0 1px 0 rgba(255,255,255,0.30);
	}
}

#drawer {
	color: white;
	&::after {
		border-radius: 80%;
		box-shadow: 0 1px 4px rgba(0,0,0,0.90), 0 -2px 1px rgba(255,255,255,0.90);
		content: "{T}";
		display: block;
		height: 2.5em;
		line-height: 2.5;
		margin: 0 auto;
		width: 2.5em;
		@extend .typl8-gamma;
		text-align: center;
		text-shadow: 0 1px 0 $white;
		border: 4px solid #949494;
		background: #000000;
		color: #fbfbfb;
	}
}


// $Example Figures
// ============================================================

.example {
	background: rgba(177, 185, 196, 0.16);
	border: 1px solid rgba(177, 185, 196, 0.55);
	box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.75);
	padding: $typl8-line-height * 1rem $typl8-line-height * 1rem 0;
	margin: $typl8-line-height * 1.5rem 0 $typl8-line-height * 1rem;
	border-radius: 0.333333em;
	&:before {
		content: "example:";
		@extend .typl8-epsilon;
		display: block;
		font-family: "Cassannet", sans-serif;
		background: none;
		line-height: 0;
		position: relative;
		color: #212121;
		top: -2.125em;
		left: -1.65rem;
	}
	&.icons {
		text-align: center;
		&:before {
			text-align: left;
		}
	}
}
.example > pre {
	margin-top: 0;
	overflow: auto;
	white-space: pre;
	word-spacing: normal;
	@extend %typl8-normal-wrap;
}

// hotfix for typographic scale example
.example.scale-example {
	padding: 1.65em;
	p {
		line-height: 1.4;
		margin: 0;
	}
	.typl8-giga {
		margin-top: -0.33em;
	}
}

.example.no-top-pad {
	padding-top: 0;
	&:before {
		top: -0.65em;
	}
}


// $Section Titles
// ============================================================

// this is breakpoint baby bear
.section-title {
	@include typl8-typescale($typl8-delta, $typl8-font-base, '#{$typl8-typescale-unit}', $typl8-measure);
}


// $Permalink Anchor
// ============================================================

.perma-anchor {
	color: #444;
	font-weight: normal;
	position: relative;
	top: -0.125em;
	&:hover, &:focus {
		color: $rust;
	}
}


// $Typeplate Code Block Styles
// ============================================================

.typeplate-code-block {
	pre {
		font-size: 0.825em;
		background: #021321;
		box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.75);
		padding: $typl8-line-height * 1rem;
		.no-js & {
			overflow: auto;
		}
	}
	code {
		color: #ddd;
	}
	figcaption {
		margin-bottom: 0;
	}
}


// $Blockquotes -> .extract class
// ============================================================

blockquote {
	font-style: italic;
	@include typl8-blockquote("—");
	& + figcaption {
		@extend .typl8-epsilon;
	}
}


// $Ampersand Demo
// ============================================================

.amp {
	@extend %typl8-amp-placeholder;
	padding: 0;
	margin-top: -0.5em;
	line-height: 1;
	@include breakpoint(baby-bear) {
		font-size: 2em;
	}
	font-size: 3em;
	text-align: center;
}


// $Figure Demo
// ============================================================

.example-figcaption {
	font-style: italic;
	font-size: 0.85em;
	@extend %rhythm;
	strong {
		font-style: normal;
	}
}


// $Icon Font Demo
// ============================================================

.pull-example {
	padding-bottom: 2em;
}


// $Icon Font Demo
// ============================================================

.icons {
	@extend .typl8-beta;
	.fs1 {
		display: inline-block;
		&:before {
			padding-right: .25em;
			color: #3A1414;
		}
	}
}


// $Typekit
// ============================================================
/*!
 * FF Meta Serif Web Pro
 * The most influential sans serif of the digital revolution (FF Meta)
 * now has a serif companion. It took three years and three designers
 * to develop FF Meta Serif: Erik Spiekermann, Christian Schwartz and
 * Kris Sowersby. More about FF Meta Serif Web Pro http://metaserif.com
 */

body {
	font-weight: 400;
	.wf-loading & {
		//Typekit Active FOUT Loading
		font-family: serif;
		visibility: hidden;
	}
	.wf-active &,
	.wf-inactive & {
		font-family: "ff-meta-serif-web-pro",serif;
		font-weight: 400;
		visibility: visible;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}


// $Footer
// ============================================================

.site-footer {
	font-size: 75%;
	width: 100%;
	background: #D3C8C8;
	background: #131415 image-url("asfalt.png") top left repeat;
	color: #9E9E9E;
	text-align: center;
	height: 100%;
	padding: #{$typl8-line-height * 1.5}em 0 #{$typl8-line-height/2}em;
	a {
		color: #de4d1f;
	}
}


// $Helpers
// ============================================================

.center {
	text-align: center;
}

.capsify {
	text-transform: uppercase;
	letter-spacing: 0.125rem;
}

// generic bottom rule class
.botDivider {
	border-bottom: #{$typl8-font-size/500}rem solid $botDividerBorder;// Thickness is based on the thickness of meta-serif stems (measured 8px at 18px font-size)
	position: relative;
	&:last-child {
		border-bottom: none;
	}
	&.bright {
		border-bottom-color: $rust;
	}
	&:not(.base-type):after {
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.82), 0 1px 1px #FFF;
		content: "{T}";
		position: absolute;
		top: -#{typl8-context-calc($typl8-font-base, 14, em)};
		left: 45%;
		@extend .typl8-gamma;
		background: #B3AEAE image-url("subtle_grunge.png") top left repeat;
		color: #dcdcdc;
		width: typl8-context-calc($typl8-font-base, 14, em);
		text-align: center;
		border-radius: 80%;
	}
}

//control our vertical rhythm
%rhythm {
	margin-top: 0;
	margin-bottom: $typl8-line-height * 1rem;
}


// $Indenting
// ============================================================

p {
	// reset top margin, and set bottom margin equal to one unit of line-height
	@extend %rhythm;
}
p.no-indent {
	text-indent: 0;
}


// $Drop Cap
// ============================================================

.typl8-drop-cap {
	@include typl8-dropcap($typl8-dropcap-float-position, $typl8-dropcap-font-size, $typl8-dropcap-font-family, $typl8-dropcap-txt-indent, $typl8-dropcap-margin, $typl8-dropcap-padding, $typl8-dropcap-color, $typl8-dropcap-line-height, $typl8-dropcap-bg);
}


// $Definition Lists
// ============================================================

.typl8-lining {
	@include typl8-definition-list-style(lining);
}

.typl8-dictionary-style {
	@include typl8-definition-list-style(dictionary-style);
}