// $Color
// ============================================================

$rust: hsl(10, 70%, 50%);
$cobalt: hsl(210, 100%, 16%);
$cobalt-fade: hsl(213, 14%, 73%);
$cobalt-deep: darken($cobalt, 38%);
$white: hsla(0, 0%, 100%, 0.75);
$botDividerBorder: #606060;
