// ===================================================
// TYPEPLATE : Custom Sass Variables
// ===================================================

// $Base
// -------------------------------------//
// General base styles for type
//
// $typl8-custom-font               [<"Custom-Font-Name">[, <fallback>]]
// $typl8-font-size                 112.5% converts to an 18px base
// $typl8-font-base                 converts % base value to a px value (16 * (112.5/100) = 18)
// $typl8-font-family               non-font-face stack

$typl8-serif-boolean: true;
$typl8-custom-font: false;
$typl8-font-family: if($typl8-serif-boolean, serif, sans-serif);
$typl8-font-weight: normal;
$typl8-line-height: 1.65;
$typl8-font-size: 112.5;
$typl8-font-base: 16 * ($typl8-font-size/100);
$typl8-measure: $typl8-font-base * $typl8-line-height;
$typl8-prefixes: -webkit-, -moz-, -ms-, '';


// $Base-Colors
// -------------------------------------//

$typl8-heading-color: #222;
$typl8-copy-color: #444;


// $Ampersand
// -------------------------------------//

$typl8-amp-fontface: Ampersand;
$typl8-amp-fontfamily: Verdana, sans-serif;
$typl8-amp-src: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');
$typl8-amp-fallback: local('Georgia');


// $Icon-Font-Helper
// -------------------------------------//
// ex.1) $icon-fonts: (icon-name);
// ex.2) $icon-fonts: (icon-name1, icon-name2, icon-name3);
$typl8-icon-fonts: (cassannet, icomoon);


// $TypeScale
// -------------------------------------//

$typl8-tera: 117; // 117 = 18 × 6.5
$typl8-giga: 90; // 90 = 18 × 5
$typl8-mega: 72; // 72 = 18 × 4
$typl8-alpha: 60; // 60 = 18 × 3.3333
$typl8-beta: 48; // 48 = 18 × 2.6667
$typl8-gamma: 36; // 36 = 18 × 2
$typl8-delta: 24; // 24 = 18 × 1.3333
$typl8-epsilon: 21; // 21 = 18 × 1.1667
$typl8-zeta: 18; // 18 = 18 × 1


// $DropCap
// -------------------------------------//

$typl8-dropcap-float-position: left;
$typl8-dropcap-font-size: 6em;
$typl8-dropcap-font-family: Copperplate;
$typl8-dropcap-txt-indent: 0;
$typl8-dropcap-margin: 0;
$typl8-dropcap-padding: 0.125em 0.125em 0 0;
$typl8-dropcap-color: inherit;
$typl8-dropcap-line-height: 0.5;
$typl8-dropcap-bg: transparent;