// $Imports
// ============================================================

@import "compass";
@import "vars";
@import "queries";


// $Global Author Styles
// ============================================================

body {
	margin: 6em auto;
	max-width: 34em;
	background: url(../img/subtle_grunge.png) top left repeat;
	.wf-loading & {
		font-family: serif;
		visibility: hidden;
	}
	.wf-active &,
	.wf-inactive & {
		font-family: "ff-meta-serif-web-pro",serif;
		font-weight: 400;
		visibility: visible;
	}
}

img {
	max-width: 100%;
}

.lede {
	padding-bottom: 1.2375rem;
}


// $Top Banner Stripe
// ============================================================

#typeplate-widgets-wrap {
	border-top: 6px solid #606060;
	box-shadow: 0 4px 4px rgba(0,0,0,0.50);
	padding: .5em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
	font-family: "ff-meta-serif-web-pro",serif;
	font-size: 100%;
	background: #000;
	color: #EFEFEF;
}


// $Logo
// ============================================================

.logo {
	vertical-align: -200%; // why? NO IDEA. But 'middle' doesn't quite line up as nicely
	//margin-right: $line-height * 1rem;
	cursor: pointer;
	// break
	@include breakpoint(papa-bear) {
		vertical-align: -190%;
		margin-right: 5em;
	}
	// break
	@include breakpoint(baby-bear) {
		display: block;
		text-align: center;
		margin-right: 0;
	}
}
.logo-img{
	background: image-url("logo.png") 50% no-repeat;
	width: 12em;
	background-size: cover;
	&:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}
	@include breakpoint(papa-bear) {
		width: 12em;
	}
	@include breakpoint(baby-bear) {
		width: 10em;
	}
}


// $Navigation
// ============================================================

.header {
	@include breakpoint(baby-bear) {
		text-align: center;
		padding-top: 0;
		p {
			text-align: left;
		}
	}
}

.lede {
	padding-top: 0.825em;
	margin-bottom: 1.65em;
	& > p:not(.no-indent) {
		margin-top: 0;
	}
}

.nav {
	// in preparation for inline-block children
	letter-spacing: -4px;
	@extend %rhythm;
	display: inline-block;
	@include breakpoint(baby-bear) {
		padding-top: 0.825em;
		display: block;
		text-align: center;
	}
}

.nav-item {
	border-bottom: 1.5px solid rgba(156, 153, 153, 0.69);
	letter-spacing: normal;
	display: block;
	@extend .delta;
	line-height: 2;
	padding: 0 0.5em 0 0.25em;
	margin-bottom: 0;
	color: $rust;
	text-decoration: none;
	&:last-child {
		border-bottom: none;
	}
	&:hover,
	&:focus {
		text-decoration: none;
		background: #f7f7f7;
		color: #000000;
	}
	&:before {
		content: "→ ";
	}

	@include breakpoint(baby-bear) {
		&:before {
			content: "";
		}
		border-radius: 0.333333em;
		display: inline-block;
		padding: 0.825em;
		margin-right: 0.5em;
		font-family: Monaco, Consolas, monospace;
		font-size: 0.825em;
		background: $cobalt-deep;
		color: $white;
		&:visited {
			color: $white;
		}
		&:hover, &:focus {
			background: $rust;
			color: white;
		}
	}
}


// $On/Off Radio Buttons
// ============================================================

#normalize-form {
	display: block;
}

#typeplate-form {
	display: block;
}

input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	font-size: 100%;
	line-height: normal;
	padding: 5px;
}
input[type="radio"]:hover {
	cursor: pointer;
}


// $Rule
// ============================================================

.rule {
	display: block;
	text-align: center;
	color: scale-lightness(#606060, 50%);
}


// $Viewport
// ============================================================

@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
