// $Imports
// ============================================================

//This is the line I cannot get Yeoman to import
//so I just dragged the file in myself manually WTF!
//@import "components/normalize.scss/normalize.scss";
@import "normalize";

@import "compass";

// Code Highlighting for snippets
@import "prism";


// $Current Pattern Libraries
// ============================================================

// REUZE ME
// http://reuze.me

// PEARS
// http://pea.rs

// INUIT
// http://inuitcss.com

// THIS IS RESPONSIVE
// http://bradfrost.github.com/this-is-responsive/

// WebCraft
// https://github.com/zakkain/webcraft


// $Resources
// ============================================================

// http://stylemanual.org
// http://dev.w3.org/csswg/css3-fonts
// http://ui-patterns.com
// http://www.kaikkonendesign.fi/typography
// http://www.w3.org/wiki/Common_HTML_entities_used_for_typography
// http://webdesignerwall.com/tutorials/using-html-symbol-entities
// http://nimbupani.com/jscamp-css-next.html
// http://24ways.org/2011/creating-custom-font-stacks-with-unicode-range
// http://trentwalton.com/2011/09/07/css-hyphenation


// $Body Type Base
// ============================================================

$weight: normal;
$line-height: 1.5;
$font-size: 100%;
$font-base: 16;
$font-family: sans-serif;

$font-properties: $weight, $line-height, $font-size, $font-family;

@mixin body-copy($weight, $line-height, $font-size, $font-family...) {
   font: $weight #{$font-size}/#{$line-height} $font-family;
}

body {
    max-width: 40em;
    margin: 0 auto;
    width: 90vw;
    @include body-copy($font-properties...);
    font-size-adjust: 1;
    // normal: Indicates that lines may only break at normal word break points.
    // break-word : Indicates that normally unbreakable words may be broken at ...
    // arbitrary points if there are no otherwise acceptable break points in the line.
    word-wrap: break-word;
    color: #444;
}

// Title
#title {
    font-size: 48px;
}

.ampersands {
    h2 {
        font-size: 2em;
        color: #333;
    }
}


// $Font Size Adjust
// ============================================================
// correct x-height for fallback fonts

h1.helvetica,
h1.georgia {
    display: inline-block;
    margin-top: 0;
    margin-bottom: .25em;
    font-size: 9em;
}
h1.helvetica {
    font-family: Helvetica;
}
h1.georgia {
    font-family: Georgia;
}


// $Typographic scale
// ============================================================
// http://thesassway.com/projects/modular-scale

@function calc-modular-scale($scale, $base, $value) {
    @return ($scale/$base)#{$value};
}

@mixin modular-scale($scale, $base, $value) {
  font-size: calc-modular-scale($scale, $base, $value);
}

$heading1:   60;
$heading2:   48;
$heading3:   36;
$heading4:   24;
$heading5:   21;
$heading6:   18;
$paragraphs: 16;

h1 {
    @include modular-scale($heading1, $font-base, 'rem'); //2.25rem
}

h2 {
    @include modular-scale($heading2, $font-base, 'rem'); //1.5rem
    line-height: 1.08333333333333;
}

h3 {
    @include modular-scale($heading3, $font-base, 'rem'); //1.125rem
}

h4 {
    @include modular-scale($heading4, $font-base, 'rem'); //0.875rem
}

h5 {
    @include modular-scale($heading4, $font-base, 'rem'); //0.875rem
}

h6 {
    @include modular-scale($heading4, $font-base, 'rem'); //0.875rem
}

p {
    @include modular-scale($paragraphs, $font-base, 'rem'); //1rem
}


// $Color
// ============================================================

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}


// $Small Caps
// ============================================================
// ISSUE#1 : https://github.com/zakkain/web-thang/issues/1

@mixin smallcaps($color, $font-weight) {
    font-variant: small-caps;
    font-weight: $font-weight;
    text-transform: lowercase;
    color: $color;
}

abbr {
    @include smallcaps(gray, 600);
    &:hover {
        cursor: help;
    }
}


// $Unicode Ampersand
// ============================================================
// targeting ampersands through unicode-range

$amp-font: local('Georgia'), local('Palatino'), local('Book Antiqua');

@font-face {
    font-family: 'Ampersand';
    src: $amp-font;
    unicode-range: U+26;
}

//fallback for unicode range
@font-face {
    /* Ampersand fallback font */
    font-family: 'Ampersand';
    src: local('Georgia');
    unicode-range: U+270C;
}

* {
    font-family: Ampersand, Arial, sans-serif;
}


// $Hyphens
// ============================================================
//http://trentwalton.com/2011/09/07/css-hyphenation

$indent-val: 1.5em;

@mixin txt-indent($indent) {
    text-indent: $indent;
}

@mixin css-hyphens($val) {
    -webkit-hyphens: $val; // Safari 6
    -moz-hyphens: $val; // FF19
    -ms-hyphens: $val; // IE10
    hyphens: $val; // standard
};

body {
    //Ala Trent Walton
    @include css-hyphens(auto);
}


// $Indenting
// ============================================================

p {
    & + p {
        @include txt-indent($indent-val);
    }
}


// $Pull Quotes
// ============================================================

.entry {
    position: relative;
    padding-right: 50%;
    .pull-quote {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
    }
}

.bqstart {
    float: left;
    height: 45px;
    margin-top: -50px;
    //padding-top: 45px;
    margin-bottom: 50px;
    font-size: 700%;
    color: red;
}

.bqend {
    float: right;
    height: 25px;
    margin-top: -50px;
    padding-top: 15px;
    font-size: 700%;
    color: red;
}


// $Code Blocks
// ============================================================
// https://developer.mozilla.org/en-US/docs/CSS/white-space

pre code {
    word-wrap: normal;
    white-space: pre-wrap;
}

pre {
    word-wrap: break-word;      // IE 5.5-7
    white-space: -moz-pre-wrap; // Firefox 1.0-2.0
    white-space: pre-wrap;      // current browsers
}

code {
    white-space: pre;
    font-family: monospace;
}


// $Drop Cap
// ============================================================

@mixin dropcap($float, $font, $fontSize, $margin, $padding, $color: null, $lineHeight: null, $bg: null) {
    float: $float;
    margin: $margin;
    padding: $padding;
    font-family: $font;
    font-size: $fontSize;
    line-height: $lineHeight;
    background: $bg;
    color: $color;
}

.drop-cap:first-letter {
    @include dropcap(left, 'Georgia, sans-serif', 4em, 0 .5em auto 0, 0 .5em 0, $color: white, $bg:gray);
}


// $Stats Tab
// ============================================================

$stats-font-size: 1.5rem;
$stats-list-margin: 0 0.625rem 0 0;
$stats-list-padding: 0 0.625rem 0 0;
$stats-item-font-size: 0.1875rem;
$stats-item-margin: 0.125rem 0 0 0;
$stats-border-style: 0.125rem solid #ccc;

.stats-tabs {
    li {
        display: inline-block;
        margin: $stats-list-margin;
        padding: $stats-list-padding;
        border-right: $stats-border-style;
        &:last-child {
            margin: 0;
            padding: 0;
            border: none;
        }
        a {
            display: inline-block;
            font-size: $stats-font-size;
            font-weight: bold;
            b {
                display: block;
                margin: $stats-item-margin;
                font-size: $stats-item-font-size;
                font-weight: normal;
            }
        }
    }
}
