; EditorConfig helps developers define and maintain consistent
; coding styles between different editors and IDEs

; editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

; tab width = 2
; Sass, CSS, LESS and Stylus
[scss/*.scss]
indent_size = 2

[css/*.css]
indent_size = 2

[less/*.less]
indent_size = 2

[stylus/*.styl]
indent_size = 2
