# These dirs are ignored as they're
# part of the build/production process
temp
dist
publish

#Hidden Mac dir Files
.DS_Store

# Sass
.sass-cache
css/*.map
scss/*.map

# NPM
npm-debug.log

# NODE
node_modules

# Bower
bower_components

#fire app log file
fire_app_log.txt
