<section class="base-type botDivider" id="base-type">
	<header>
		<h1 class="gamma section-title"><a class="perma-anchor" href="#base-type">§</a> 1.1 Base Type</h1>
	</header>

	<p>For a solid base we use <a href="https://github.com/typeplate/starter-kit/blob/master/scss/_typeplate-styles.scss#L4-L10">default font settings</a> to allow elements to display in their natural size determined by the browser's default stylesheet. This makes for <a href="https://www.filamentgroup.com/lab/how-we-learned-to-leave-body-font-size-alone.html">lighter CSS and more flexibility</a> in the markup you choose to use. We also ensure unit values for line-heights are never used per the <a href="http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights" rel="external">recommendations of Eric Meyer</a>.</p>

</section>
