<!-- http://www.projectevolution.com/activity/how-do-you-solve-a-problem-like-blockquote -->
<!-- https://github.com/typeplate/typeplate.github.com/issues/95 -->
<section class="block-quotes botDivider" id="block-quotes">
  <header>
    <h1 class="gamma section-title"><a class="perma-anchor" href="#block-quotes">§</a> 4.3 Block Quotes</h1>
  </header>
  <p>The blockquote element represents a section that is being quoted from another source. Good blockquotes should include a citation, but one is not required. Stylistically, these can look a lot like <a href="#pull-quotes">pull-quotes</a> by using <code>:before</code> and <code>:after</code> pseudo elements for the curly quotes, or, authors can include them inline. </p>
  <p>The contents of <code>blockquote</code> are limited to headings and paragraphs. <code>header</code>, <code>footer</code>, or <code>cite</code> tags are not allowed. For more examples, see <a href="https://gist.github.com/murtaugh/4489740">A List Apart's sample blockquote patterns</a>.</p>

  <figure class="example no-top-pad">
    <figure>
      <blockquote cite="http://trentwalton.com/2012/06/19/fluid-type">
        <p>Embracing the fluid &amp; flexible aspect of responsive web design was an easy decision, but I’ve been less sure-footed when it comes to balancing that with setting type on the web</p>
      </blockquote>
      <figcaption><cite><small><a href="http://trentwalton.com/2012/06/19/fluid-type">Trent Walton</a></small></cite></figcaption>
    </figure>
  </figure>

    <figure class="typeplate-code-block">
      <figcaption>HTML</figcaption>
      <pre><code class="language-markup">&lt;figure&gt;
  &lt;blockquote cite=&quot;&quot;&gt;
    &lt;p&gt;&lt;/p&gt;
  &lt;/blockquote&gt;
  &lt;figcaption&gt;
    &lt;cite&gt;
      &lt;small&gt;&lt;a href=&quot;&quot;&gt;&lt;/a&gt;&lt;/small&gt;
    &lt;/cite&gt;
  &lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
    </figure>

    <figure class="typeplate-code-block">
      <figcaption>_typeplate.scss</figcaption>
      <pre><code class="language-scss">$cite-display: block !default;
$cite-text-align: right !default;
$cite-font-size: inherit !default;

// Use our pre-defined markup and add a class
// to your custom blockquote element.
// For example:
//
// .blockquote { @include blockquote("-"); }
//
// "-" is your citation flourish. For example:
//
// I always say important things because I'm so smart
//                                      - author name

// Citation Mixin for Custom Styling
@mixin cite-style($display, $text-align, $font-size) {
  display: $display;
  font-size: $font-size;
  text-align: $text-align;
}

%cite {
  @include cite-style($cite-display, $cite-text-align, $cite-font-size);
}

@mixin blockquote($citation-flourish) {
  p {
    &:last-of-type {
      margin-bottom: -#{$line-height/2}em;
    }
  }
  + figcaption {
    @extend %cite;
    &:before {
      content: $citation-flourish;
    }
  }
}</code></pre>
    </figure>
    <a href="#table-of-contents" class="anchorLink btn btn-backtotop">↑ back to top</a>
  </section>