<section class="drop-capitals botDivider" id="drop-caps">
	<header>
		<h1 class="gamma section-title"><a class="perma-anchor" href="#drop-caps">§</a> 3.2 Drop Capitals</h1>
	</header>

	<p>A Drop Cap is the art of using an uppercase glyph to mark the start of copy. A technique that has been around for almost two thousand years!</p>

	<figure class="example">
		<p class="typl8-drop-cap">There now is your insular city of the Manhattoes, belted round by wharves as Indian isles by coral reefs—commerce surrounds it with her surf. Right and left, the streets take you waterward. Its extreme downtown is the battery, where that noble mole is washed by waves, and cooled by breezes, which a few hours previous were out of sight of land. Look at the crowds of water-gazers there.</p>
	</figure>

	<figure class="typeplate-code-block">
		<figcaption>HTML</figcaption>
		<pre><code class="language-markup">&lt;!-- Add the drop-cap class to your element --&gt;
&lt;p class=&quot;typl8-drop-cap&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde in aliquid rem. Esse laboriosam nisi quas eveniet atque consequatur perferendis nostrum dignissimos magni cum suscipit delectus nam placeat qui rem.&lt;/p&gt;</code></pre>
	</figure>

	<figure class="typeplate-code-block">
		<figcaption>Typeplate Sass Helper</figcaption>
		<pre><code class="language-scss">// $DropCap
// -------------------------------------//

$typl8-dropcap-float-position: left !default;
$typl8-dropcap-font-size: 4em !default;
$typl8-dropcap-font-family: inherit !default;
$typl8-dropcap-txt-indent: 0 !default;
$typl8-dropcap-margin: 10px 10px 0 0 !default;
$typl8-dropcap-padding: 0 20px !default;
$typl8-dropcap-color: inherit !default;
$typl8-dropcap-line-height: 1 !default;
$typl8-dropcap-bg: transparent !default;

// $Dropcap Mixin
// -------------------------------------//
// Add styling to intro paragraphs using a dropcap
//
// @markup              &lt;p class="typl8-drop-cap"&gt;Lorem ipsum dolor sit amet&lt;/p&gt;
// @example             .dropcap { @include typl8-dropcap; }

@mixin typl8-dropcap(
	$float-position,
	$font-size,
	$font-family,
	$txt-indent,
	$margin,
	$padding,
	$color,
	$line-height,
	$bg
	) {
	&:first-letter {
		float: $float-position;
		margin: $margin;
		padding: $padding;
		font-size: $font-size;
		font-family: $font-family;
		line-height: $line-height;
		text-indent: $txt-indent;
		background: $bg;
		color: $color;
	}
}

// $Dropcap Helper
// -------------------------------------//

.typl8-drop-cap {
	@include dropcap(
		$typl8-dropcap-float-position,
		$typl8-dropcap-font-size,
		$typl8-dropcap-font-family,
		$typl8-dropcap-txt-indent,
		$typl8-dropcap-margin,
		$typl8-dropcap-padding,
		$typl8-dropcap-color,
		$typl8-dropcap-line-height,
		$typl8-dropcap-bg
	);
}

// @notes
// combats our sibling paragraph syling and indentation
p + .typl8-drop-cap {
	text-indent: 0;
	margin-top: 0;
}</code></pre>
	</figure>
	<a href="#table-of-contents" class="anchorLink btn btn-backtotop">↑ back to top</a>
</section>