<!-- $Code Blocks -->
<section class="code-blocks botDivider" id="code-blocks">
	<header>
		<h1 class="gamma section-title"><a class="perma-anchor" href="#code-blocks">§</a> 4.1 Code Blocks</h1>
	</header>
	<p><code>Monospace</code> fonts just as you desire for all your code block dreams! Monospace fonts or <i>“fixed pitch”</i> fonts, contain characters that all have the same character width. ‘l’, ‘1’ and ‘i’ are easily distinguished with monospace, ‘0’, ‘o’ and ‘O’ are easily distinguished and clear punctuation characters, especially braces, parenthesis and brackets.</p>


<figure class="typeplate-code-block">
	<pre class="language-css"><code>.this-widget {
  max-width: 200px;
  opacity: 0.5;
  color: red;
}</code></pre>
</figure>
</section>
