<section class="color botDivider" id="color">
  <header>
    <h1 class="gamma section-title"><a class="perma-anchor" href="#color">§</a> 1.3 Color</h1>
  </header>
  <p>Just like in print, don’t use the darkest black available in your body text (#000). Instead, go for something softer, like #444. You can use a slightly darker color for titles like (#222) for example. Since these values are considered a de facto standard in practice, they're not necessarily ordained by law.</p>

  <figure class="typeplate-code-block">
    <figcaption>_typeplate.scss</figcaption>
    <pre><code class="language-scss">$body-copy-color: #444 !default;
$heading-color: #222 !default;

body {
  color: $body-copy-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}</code></pre>
  </figure>
  <a href="#table-of-contents" class="anchorLink btn btn-backtotop">↑ back to top</a>
</section>