<section class="definition-lists botDivider" id="definition-lists">
	<header>
		<h1 class="gamma section-title"><a class="perma-anchor" href="#definition-lists">§</a> 4.8 Definition Lists</h1>
	</header>

	<p>The dl element is for another type of list called a definition list. Instead of list items, the content of a dl consists of dt (Definition Term) and dd (Definition Description) pairs.</p>
	<p>TypePlate offers several different patterns for definition lists. In all three of the examples below, the contents of dts are wrapped in b tags, and a class of .micro is given to the contents of dds. First is the default format for definitions lists.</p>

	<h3 class="typl8-delta">a) Multi-line Definitions (default)</h3>
	<figure class="example no-top-pad">
		<dl>
			<dt><b>This is a term</b></dt>
				<dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
			<dt><b>Another Term</b></dt>
				<dd>And it gets a definition too, which is this line</dd>
				<dd>This is a 2<sup>nd</sup> definition for a single term. A <code>dt</code> may be followed by multiple <code>dd</code>s.</dd>
		</dl>
	</figure>

<figure class="typeplate-code-block">
	<pre class="language-markup"><code>&lt;dl&gt;
	&lt;dt&gt;&lt;b&gt;This is a term&lt;/b&gt;&lt;/dt&gt;
	&lt;dd&gt;this is the definition of that term, which both live in a &lt;code&gt;dl&lt;/code&gt;.&lt;/dd&gt;

	&lt;dt&gt;&lt;b&gt;Another Term&lt;/b&gt;&lt;/dt&gt;
	&lt;dd&gt;And it gets a definition too, which is this line&lt;/dd&gt;
	&lt;dd&gt;This is a 2&lt;sup&gt;nd&lt;/sup&gt; definition for a single term. A &lt;code&gt;dt&lt;/code&gt; may be followed by multiple &lt;code&gt;dd&lt;/code&gt;s.&lt;/dd&gt;
&lt;/dl&gt;</code></pre>
</figure>

	<h3 class="typl8-delta">b) Inline Definitions</h3>
	<p>The second format for definition lists is lining. This style is more robust, with support for multiple terms defined by a single definition, and applies proper punctuation (: ,) where appropriate:</p>

	<figure class="example no-top-pad">
		<dl class="typl8-lining">
			<dt><b>This is a term</b></dt>
				<dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
			<dt><b>Another Term</b></dt>
				<dd class="micro">And it gets a definition too, which is this line</dd>
				<dd class="micro"> this is a 2<sup>nd</sup> definition for a single term.</dd>
			<dt><b>Term</b></dt>
			<dt><b>Other Defined Term</b></dt>
				<dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
		</dl>
	</figure>

<figure class="typeplate-code-block">
	<pre class="language-markup"><code>&lt;dl class=&quot;typl8-lining&quot;&gt;
	&lt;dt&gt;&lt;b&gt;This is a term&lt;/b&gt;&lt;/dt&gt;
	&lt;dd&gt;this is the definition of that term, which both live in a &lt;code&gt;dl&lt;/code&gt;.&lt;/dd&gt;

	&lt;dt&gt;&lt;b&gt;Another Term&lt;/b&gt;&lt;/dt&gt;
	&lt;dd class=&quot;micro&quot;&gt;And it gets a definition too, which is this line&lt;/dd&gt;
	&lt;dd class=&quot;micro&quot;&gt; this is a 2&lt;sup&gt;nd&lt;/sup&gt; definition for a single term.&lt;/dd&gt;

	&lt;dt&gt;&lt;b&gt;Term&lt;/b&gt;&lt;/dt&gt;

	&lt;dt&gt;&lt;b&gt;Other Defined Term&lt;/b&gt;&lt;/dt&gt;
	&lt;dd&gt;&lt;code&gt;dt&lt;/code&gt; terms may stand on their own without an accompanying &lt;code&gt;dd&lt;/code&gt;, but in that case they &lt;em&gt;share&lt;/em&gt; descriptions with the next available &lt;code&gt;dt&lt;/code&gt;. You may not have a &lt;code&gt;dd&lt;/code&gt; without a parent &lt;code&gt;dt&lt;/code&gt;.&lt;/dd&gt;
&lt;/dl&gt;</code></pre>
</figure>

	<h3 class="typl8-delta">c) Dictionary-style Definition</h3>
	<p>The third format for definition lists is dictionary. This style is more a formal, applying proper punctuation where necessary and includes ordinal indicators:</p>

	<figure class="example no-top-pad">
		<dl class="typl8-dictionary-style">
			<dt><b>This is a term</b></dt>
				<dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
			<dt><b>Another Term</b></dt>
				<dd>And it gets a definition too, which is this line</dd>
				<dd> this is a 2<sup>nd</sup> definition for a single term.</dd>
			<dt><b>Term</b></dt>
			<dt><b>Other Defined Term</b></dt>
				<dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
		</dl>
	</figure>

<figure class="typeplate-code-block">
	<pre class="language-markup"><code>&lt;dl class=&quot;typl8-dictionary-style&quot;&gt;
	&lt;dt&gt;&lt;b&gt;This is a term&lt;/b&gt;&lt;/dt&gt;
	&lt;dd&gt;this is the definition of that term, which both live in a &lt;code&gt;dl&lt;/code&gt;.&lt;/dd&gt;

	&lt;dt&gt;&lt;b&gt;Another Term&lt;/b&gt;&lt;/dt&gt;
	&lt;dd&gt;And it gets a definition too, which is this line&lt;/dd&gt;
	&lt;dd&gt; this is a 2&lt;sup&gt;nd&lt;/sup&gt; definition for a single term.&lt;/dd&gt;

	&lt;dt&gt;&lt;b&gt;Term&lt;/b&gt;&lt;/dt&gt;

	&lt;dt&gt;&lt;b&gt;Other Defined Term&lt;/b&gt;&lt;/dt&gt;
	&lt;dd&gt;&lt;code&gt;dt&lt;/code&gt; terms may stand on their own without an accompanying &lt;code&gt;dd&lt;/code&gt;, but in that case they &lt;em&gt;share&lt;/em&gt; descriptions with the next available &lt;code&gt;dt&lt;/code&gt;. You may not have a &lt;code&gt;dd&lt;/code&gt; without a parent &lt;code&gt;dt&lt;/code&gt;.&lt;/dd&gt;
&lt;/dl&gt;</code></pre>
</figure>
</section>
