<section class="figures botDivider" id="figures">
	<header>
		<h1 class="gamma section-title"><a class="perma-anchor" href="#figures">§</a> 4.2 Figures</h1>
	</header>

	<figure class="example">
		<img src="./img/type-anatomy.jpg" alt="">
		<figcaption class="example-figcaption">
			<strong>Fig. 4.2 | </strong>Type Anatomy, a diagram and anatomy of typography.
		</figcaption>
	</figure>

	<figure class="typeplate-code-block">
		<pre class="language-markup"><code>&lt;figure&gt;
	&lt;img src=&quot;&quot; alt=&quot;&quot;&gt;

	&lt;figcaption&gt;
		&lt;strong&gt;&lt;/strong&gt;
	&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
	</figure>
</section>
