<section class="figures botDivider" id="figures">
  <header>
    <h1 class="gamma section-title"><a class="perma-anchor" href="#figures">§</a> 4.2 Figures</h1>
  </header>

  <figure class="example">
    <img src="./img/type-anatomy.jpg" alt="">
    <figcaption class="example-figcaption">
      <strong>Fig. 4.2 | </strong>Type Anatomy, a diagram and anatomy of typography.
    </figcaption>
  </figure>

  <figure class="typeplate-code-block">
    <figcaption>HTML</figcaption>
    <pre><code class="language-markup">&lt;figure&gt;
  &lt;figcaption&gt;
    &lt;strong&gt;Fig. 4.2 | &lt;/strong&gt;Type Anatomy, an excerpt from Mark Boulton&#039;s book&lt;cite title=&quot;http://designingfortheweb.co.uk/book/part3/part3_chapter11.php&quot;&gt;“Designing for the Web”&lt;/cite&gt;
  &lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
  </figure>
  <a href="#table-of-contents" class="anchorLink btn btn-backtotop">↑ back to top</a>
</section>
