<section class="footnotes botDivider" id="footnotes">
  <header>
    <h1 class="gamma section-title"><a class="perma-anchor" href="#footnotes">§</a> 4.7 Footnotes</h1>
  </header>

  <figure class="example no-top-pad">
    <article>
      <p>The sites we’ve built to display on a desktop, smartphone, or a tablet today could be on a TV Screen, coffee table display, or mega space yacht projection system tomorrow. Do yourself a favor and heed the advice of the Dao: A fully-scalable web<sup><a href="#fn-item1" id="fn-return">1</a></sup></p>
      <footer class="foot-note">
        <ol>
          <li id="fn-item1">Style sheets that use relative units can more easily scale from one output environment to another. Most of the time I use em and rem. <a href="#fn-return">↩</a></li>
        </ol>
      </footer>
    </article>
  </figure>

  <figure class="typeplate-code-block">
    <figcaption>HTML</figcaption>
    <pre><code class="language-markup">&lt;!-- Footnote Markup : Replace ‘X” with your unique number for each footnote --&gt;
&lt;article&gt;
  &lt;p&gt;&lt;sup&gt;&lt;a href=&quot;#fn-itemX&quot; id=&quot;fn-returnX&quot;&gt;&lt;/a&gt;&lt;/sup&gt;&lt;/p&gt;
  &lt;footer&gt;
    &lt;ol class=&quot;foot-notes&quot;&gt;
      &lt;li id=&quot;fn-itemX&quot;&gt;&lt;a href=&quot;#fn-returnX&quot;&gt;&#x21a9;&lt;/a&gt;&lt;/li&gt;
    &lt;/ol&gt;
  &lt;/footer&gt;
&lt;/article&gt;</code></pre>
  </figure>
  <a href="#table-of-contents" class="anchorLink btn btn-backtotop">↑ back to top</a>
</section>