<!-- http://24ways.org/2005/swooshy-curly-quotes-without-images -->
<!-- http://www.smashingmagazine.com/2008/06/12/block-quotes-and-pull-quotes-examples-and-good-practices/ -->
<section class="pull-quotes botDivider" id="pull-quotes">
	<header>
		<h1 class="gamma section-title"><a class="perma-anchor" href="#pull-quotes">§</a> 4.4 Pull Quotes</h1>
	</header>
	<p>Pull quotes are tricky, but with this little ditty they’re not so difficult or tedious anymore. The example is an improvement based upon the <a href="http://24ways.org/2005/swooshy-curly-quotes-without-images" rel="external" target="blank">24 ways article discussing swooshy curly quotes without images.</a> This particular example depicted takes advantage of psuedo selectors and the <code>&lt;aside&gt;</code> tag.</p>

	<figure class="example no-top-pad pull-example">
		<aside class="typl8-pull-quote">
			<blockquote>
				<p>Most people who use Helvetica, use it because it's ubiquitous. It's like going to McDonald's instead of thinking about food. Because it's there, it's on every street corner, so let's eat crap because it's on the corner.</p>
			</blockquote>
		</aside>
	</figure>

<figure class="typeplate-code-block">
	<pre class="language-markup"><code>&lt;aside class=&quot;typl8-pull-quote&quot;&gt;
  &lt;blockquote&gt;
    &lt;p&gt;&lt;/p&gt;
  &lt;/blockquote&gt;
&lt;/aside&gt;</code></pre>
</figure>
</section>
