<section class="small-print botDivider" id="small-print">
	<header>
		<h1 class="gamma section-title"><a class="perma-anchor" href="#code-blocks">§</a> 3.4 Small Print</h1>
	</header>
	<p>The <code>small</code> element is used to represent side comments or what’s commonly referred to as ‘small print’: disclaimers, caveats, legal restrictions, or copyrights. It can also be used for attributions or satisfying licensing requirements.</p>

	<figure class="typl8-blockquote">
			<blockquote cite="http://html5doctor.com/small-hr-element/">
				<p>…A common use is inline legalese, such as a copyright statement in a page footer, a disclaimer, or licensing information. It can also be used for attribution. Don’t use it for block-level content (paragraphs, lists, etc.), as this would be considered main content. <code>small</code> text does not need to be smaller than surrounding text &mdash; if all you want is smaller text use CSS instead.</p>
			</blockquote>
			<figcaption><cite><small><a href="http://html5doctor.com/small-hr-element/">Oli Studholme</a></small></cite></figcaption>
	</figure>

	<figure class="example">
		<p class="typl8-zeta">Buy one widget, get one free!
			<small>(While supplies last. Offer expires on the vernal equinox. Not valid in Ohio.)</small>
		</p>
	</figure>

<figure class="typeplate-code-block">
	<pre class="language-markup"><code>&lt;small&gt;…&lt;/small&gt;</code></pre>
</figure>
</section>
