<!-- #typographic-scale -->
<section class="typographic-scale botDivider" id="typographic-scale">
	<header>
		<h1 class="typl8-gamma section-title"><a class="perma-anchor" href="#base-type">§</a> 1.2 Typographic Scale</h1>
	</header>

	<p>Establish clearly distinguishable heading levels with font-size. Don’t randomly pick font sizes, choose a type hierarchy that is harmonious and consistent. Do your best to <a href="http://www.alistapart.com/articles/more-meaningful-typography" rel="external">use a modular scale</a> that calculates those sizes from a ratio ensuring your design and typography can relate in a meaningful way. There’s an excellent calculator for this at <a href="http://modularscale.com" rel="external">modularscale.com</a>.</p>

	<figure class="typl8-blockquote">
		<blockquote cite="http://www.alistapart.com/articles/more-meaningful-typography">
			<p>By using culturally relevant, historically pleasing ratios to create modular scales and basing the measurements in our compositions on values from those scales, we can achieve a visual harmony not found in layouts that use arbitrary, conventional, or easily divisible numbers.</p>
		</blockquote>
		<figcaption><cite class="author"><small><a href="http://www.alistapart.com/articles/more-meaningful-typography" rel="external">Tim Brown</a></small></cite></figcaption>
	</figure>

	<figure class="example scale-example">
		<p class="no-indent typl8-giga">Heading Giga</p>
		<p class="no-indent typl8-mega">Heading Mega</p>
		<p class="no-indent typl8-alpha">Heading Alpha</p>
		<p class="no-indent typl8-beta">Heading Beta</p>
		<p class="no-indent typl8-gamma">Heading Gamma</p>
		<p class="no-indent typl8-delta">Heading Delta</p>
		<p class="no-indent typl8-epsilon">Heading Epsilon</p>
		<p class="no-indent typl8-zeta">Heading Zeta</p>
	</figure>

	<figure class="typeplate-code-block">
		<figcaption>HTML</figcaption>
		<pre><code class="language-markup">&lt;!--
Custom header classes. These classes can be used on various elements
of your choosing. Classes depicted below are strictly for example
purposes and not a requirement.

If you'd like to manipulate the size of other typographic elements,
feel free to include the Sass '@extend' with your selector.
For example…

p {
	@extend .typl8-alpha;
}
--&gt;
&lt;h1 class=&quot;typl8-giga&quot;&gt;Heading Giga&lt;/h1&gt;
&lt;h1 class=&quot;typl8-mega&quot;&gt;Heading Mega&lt;/h1&gt;
&lt;h1 class=&quot;typl8-alpha&quot;&gt;Heading Alpha&lt;/h1&gt;
&lt;h2 class=&quot;typl8-beta&quot;&gt;Heading Beta&lt;/h2&gt;
&lt;h3 class=&quot;typl8-gamma&quot;&gt;Heading Gamma&lt;/h3&gt;
&lt;h4 class=&quot;typl8-delta&quot;&gt;Heading Delta&lt;/h4&gt;
&lt;h5 class=&quot;typl8-epsilon&quot;&gt;Heading Epsilon&lt;/h5&gt;
&lt;h6 class=&quot;typl8-zeta&quot;&gt;Heading Zeta&lt;/h6&gt;</code></pre>
	</figure>

	<figure class="typeplate-code-block">
		<figcaption>Sass</figcaption>
		<pre><code class="language-scss">$typl8-measure: $typl8-font-base * $typl8-line-height;

// $Typescale
// -------------------------------------//
// Greek heading names and scale using base font-size
//
// typl8-tera                    117 = 18 × 6.5
// typl8-giga                     90 = 18 × 5
// typl8-mega                     72 = 18 × 4
// typl8-alpha                    60 = 18 × 3.3333
// typl8-beta                     48 = 18 × 2.6667
// typl8-gamma                    36 = 18 × 2
// typl8-delta                    24 = 18 × 1.3333
// typl8-epsilon                  21 = 18 × 1.1667
// typl8-zeta                     18 = 18 × 1

$typl8-scale: (
  typl8-tera: 117,
  typl8-giga: 90,
  typl8-mega: 72,
  typl8-alpha: 60,
  typl8-beta: 48,
  typl8-gamma: 36,
  typl8-delta: 24,
  typl8-epsilon: 21,
  typl8-zeta: 18,
) !default;

$typl8-headings: (
  h1: typl8-mega,
  h2: typl8-alpha,
  h3: typl8-beta,
  h4: typl8-gamma,
  h5: typl8-delta,
  h6: typl8-zeta
) !default;

// $Typescale Unit
// -------------------------------------//

$typl8-typescale-unit: rem !default;

// $Context Calculator
// -------------------------------------//
// target / context = result
//
// @example             p { font-size: typl8-context-calc(24, 16, px); }

@function typl8-context-calc($scale, $base, $value) {
	@return ($scale/$base)#{$value};
}

// $Measure-Margin
// -------------------------------------//
// divide 1 unit of measure by given font-size & return relative value

@function typl8-measure-margin($scale, $measure, $value) {
	$pixelValue: $measure/$scale;
	$remValue: $pixelValue * $typl8-font-base;

	@if $value == rem {
		@return $pixelValue#{$value};
	} @else if $value == em {
		@return ($remValue/$scale)#{$value};
	} @else {
		@return $remValue#{$value};
	}
}

// $Typescale Mixin
// -------------------------------------//

@mixin typl8-typescale($scale, $base, $value, $measure:"") {
	@if $value == rem {
		font-size: $scale#{px};
		font-size: typl8-context-calc($scale, $base, $value);
	} @else if $value == em {
		font-size: typl8-context-calc($scale, $base, $value);
	} @else {
		font-size: $scale#{px};
	}

	@if $measure != "" {
		@if $value == rem {
			margin-bottom: typl8-measure-margin($scale, $measure, $value: px);
			margin-bottom: typl8-measure-margin($scale, $measure, $value);
		} @else if $value == em {
			margin-bottom: typl8-measure-margin($scale, $measure, $value: em);
		} @else {
			margin-bottom: typl8-measure-margin($scale, $measure, $value);
		}
	}
}

// $Headings Styles
// -------------------------------------//
// Heading scale. Call from actual headings or other elements.
// Special Props to Harry Roberts for this trick.
//
// @markup                      &lt;h6 class="typl8-giga"&gt;Awesome Headline&lt;/h6&gt;
//                              &lt;p class="typl8-tera"&gt;A story about a dude&lt;/p&gt;
// optimizeLegibility           Enables ligatures and kerning
// single line height           Fixes large spaces when a heading wraps two lines

%typl8-hN {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  color: $typl8-heading-color;
}

@include typl8-headings;
@include typl8-headings-style;</code></pre>
	</figure>

	<a href="#table-of-contents" class="anchorLink btn btn-backtotop">↑ back to top</a>
</section>