<!-- #typographic-scale -->
<section class="typographic-scale botDivider" id="typographic-scale">
	<header>
		<h1 class="typl8-gamma section-title"><a class="perma-anchor" href="#base-type">§</a> 1.2 Typographic Scale</h1>
	</header>

	<p>Establish clearly distinguishable heading levels with consistent font-sizes over randomly chosen values. Choose a type hierarchy that is harmonious and consistent with your project. In order to do so we suggest <a href="http://www.alistapart.com/articles/more-meaningful-typography" rel="external">using a modular scale</a> that calculates sizes via a ratio ensuring your design and typography can relate in a meaningful way. There’s an excellent calculator for this at <a href="http://modularscale.com" rel="external">modularscale.com</a>.</p>

	<figure class="typl8-blockquote">
		<blockquote cite="http://www.alistapart.com/articles/more-meaningful-typography">
			<p>By using culturally relevant, historically pleasing ratios to create modular scales and basing the measurements in our compositions on values from those scales, we can achieve a visual harmony not found in layouts that use arbitrary, conventional, or easily divisible numbers.</p>
		</blockquote>
		<figcaption><cite class="author"><small><a href="http://www.alistapart.com/articles/more-meaningful-typography" rel="external">Tim Brown</a></small></cite></figcaption>
	</figure>

	<figure class="example">
		<p class="no-indent typl8-giga">Heading Giga</p>
		<p class="no-indent typl8-mega">Heading Mega</p>
		<p class="no-indent typl8-alpha">Heading Alpha</p>
		<p class="no-indent typl8-beta">Heading Beta</p>
		<p class="no-indent typl8-gamma">Heading Gamma</p>
		<p class="no-indent typl8-delta">Heading Delta</p>
		<p class="no-indent typl8-epsilon">Heading Epsilon</p>
		<p class="no-indent typl8-zeta">Heading Zeta</p>
	</figure>
</section>
