<nav class="downloads nav">
  <div class="col-wrap">
    <a href="https://raw.github.com/typeplate/bower/master/css/typeplate.css" data-name="CSS Port" class="dl-item btn">
      <i class="icon-download"></i>CSS
      <hr>
      <small>v{{site.version}} | 11kb</small>
    </a>
    <a href="https://raw.github.com/typeplate/bower/master/scss/typeplate-scss.zip" data-name="Sass Port" class="dl-item btn">
      <i class="icon-download"></i>Sass
      <hr>
      <small>v{{site.version}} | 3kb</small>
    </a>

    <a href="https://github.com/typeplate/bower" data-name="Bower Package" class="dl-item btn">
      <i class="icon-download"></i>Bower Pkg.
      <hr>
      <small>v{{site.version}}</small>
    </a>
  </div>
</nav>