<nav class="downloads nav">
	<div class="col-wrap">
		<a href="https://raw.github.com/typeplate/starter-kit/master/css/typeplate.css" data-name="CSS Port" class="dl-item btn" title="typeplate.css">CSS</a>

		<a href="https://github.com/typeplate/starter-kit/blob/development/typeplate-sk.zip?raw=true" data-name="Sass Port" class="dl-item btn" title="typeplate.scss">Sass</a>

		<button data-name="Bower Package" class="dl-item btn" data-clipboard-action="copy" data-clipboard-text="bower install typeplate-starter-kit --save">Bower</button>

		<button data-name="CDJS Package" class="dl-item btn" data-clipboard-action="copy" data-clipboard-text="https://cdnjs.cloudflare.com/ajax/libs/typeplate-starter-kit/3.0.1/css/typeplate.min.css">CDNJS</button>
	</div>
</nav>
