<nav class="downloads nav">
	<div class="col-wrap">
		<a href="//raw.github.com/typeplate/starter-kit/master/css/typeplate.css" data-name="CSS Port" class="dl-item btn" title="typeplate.css">CSS</a>

		<a href="//github.com/typeplate/starter-kit/blob/development/typeplate-sk.zip?raw=true" data-name="Sass Port" class="dl-item btn" title="typeplate.scss">Sass</a>

		<a href="https://github.com/typeplate/starter-kit" data-name="Bower Package" class="dl-item btn" title="bower install typeplate-starter-kit --save">Bower</a>

		<a href="https://github.com/typeplate/starter-kit" data-name="NPM Package" class="dl-item btn" title="npm install typeplate --save">NPM</a>
	</div>
</nav>
