<!-- Normalize Radio Toggle -->
<form action="." method="post" id="normalize-form" role="form">
  <!-- #Normalize Toggle -->
  <div class="bg-slategray">
    <label for="normalize-off">Normalize</label>
    <input id="normalize-off" class="slide-switch large dark" name="normalize-state" type="checkbox" />
    <label for="normalize-off">
      <span class="wrapper">
        <span class="on">ON</span>
        <span class="switch"></span>
        <span class="off">OFF</span>
      </span>
    </label>
  </div>
</form>
