<!-- $table of contents -->
<section class="toc" id="table-of-contents">
  <header>
    <h1 class="delta center capsify">Table of Contents <b class="icon-download"></b></h1>
  </header>
  <div id="drawer" class="visuallyhidden">

    <!-- 1. Base Type -->
    <ol>
      <li><a href="#base-type" class="anchorLink">Base Type</a></li>
      <li><a href="#typographic-scale" class="anchorLink">Typographic Scale</a></li>
      <li><a href="#color" class="anchorLink">Color</a></li>
      <li><a href="#word-wrap" class="anchorLink">Word-wrap</a></li>
    </ol>

    <!-- 2. Paragraphs -->
    <ol>
      <li><a href="#indenting" class="anchorLink">Indenting</a></li>
      <li><a href="#hyphenation" class="anchorLink">Hyphenation</a></li>
    </ol>

    <!-- 3. Detailing -->
    <ol>
      <li><a href="#small-caps" class="anchorLink">Small Capitals</a></li>
      <li><a href="#drop-caps" class="anchorLink">Drop Capitals</a></li>
      <li><a href="#unicode-ampersands" class="anchorLink">Unicode Ampersands</a></li>
      <li><a href="#icon-font-helper" class="anchorLink">Icon Font Helper</a></li>
      <li><a href="#small-print" class="anchorLink">Small Print</a></li>
    </ol>

    <!-- 4. Pattern Modules -->
    <ol>
      <li><a href="#code-blocks" class="anchorLink">Code Blocks</a></li>
      <li><a href="#figures" class="anchorLink">Figures</a></li>
      <li><a href="#block-quotes" class="anchorLink">Block Quotes</a></li>
      <li><a href="#pull-quotes" class="anchorLink">Pull Quotes</a></li>
      <li><a href="#footnotes" class="anchorLink">Footnotes</a></li>
      <li><a href="#definition-lists" class="anchorLink">Definition Lists</a></li>
    </ol>
  </div>
</section>