{{> downloads }}

<main class="col-wrap" role="main">
  <!-- Table of Contents -->
  {{> toc }}

  <!-- #base-type -->
  {{> base-type }}

	<!-- #typographic-scale -->
  {{> typographic-scale }}

  <!-- #color -->
  {{> color }}

  <!-- #word-wrap -->
  {{> word-wrap }}

  <!-- #indenting -->
  {{> indenting }}

  <!-- #hyphenation -->
  {{> hyphenation }}

  <!-- #small-capitals -->
  {{> capitals-small }}

  <!-- #drop-capitals -->
  {{> capitals-drop }}

  <!-- #unicode-ampersands -->
  {{> unicode-ampersands }}

  <!-- #icon-font-helper -->
  {{> icon-font-helper }}

  <!-- #small-print -->
  {{> small-print }}

	<!-- #figures -->
	<!-- [1/6/13 7:09:04 PM] Zak Kain: I think what’s missing here is the html markup component, for the more complex sections (like figure). Setting some baseline CSS for figure is difficult without being too restrictive in styling, but you can offer markup patterns for "how to do a proper figure with caption, citation etc". Same goes for blockquotes (which I have a lot of work on actually, I’ll pull-request you when this is live) -->
  {{> figures }}

	<!-- #block-quotes -->
  {{> block-quotes }}

	<!-- #pull-quotes -->
  {{> pull-quotes }}

	<!-- #footnotes -->
  {{> footnotes }}

	<!-- #definition-lists -->
  {{> definition-lists }}
</main>