// $Global Elements
// ============================================================

body {
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    background: image-url("subtle_grunge.png") top left repeat;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: #212121;
}

abbr {
    // @include smallcaps(gray, 600);
    // ff-meta-serif has no real small caps, so we fake it
    font-variant: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
        cursor: help;
    }
}

img {
    max-width: 100%;
}

section {
    padding: $line-height * 0.5em 0 $line-height * 1em;
}


// $Table of Contents
// ============================================================

.toc ol {
    list-style: decimal !important;
    counter-reset: item;
}
.toc li {
    @extend .zeta;
    display: block;
}

.toc ol li:before {
    counter-increment: item;
    color: #444;
    font-style: normal;
    font-family: "Cassannet", "ff-meta-serif-web-pro", serif;
}

// epic loop wizardy!
@for $i from 1 through 4 {
    .toc ol:nth-of-type(#{$i}) li:before {
        content: "#{$i}." counter(item) " – ";
    }
}



// $What Are These?
// ============================================================

.tera {
    padding: 0.25em 0;
}


// $Permalink Anchor
// ============================================================

.perma-anchor {
    // color: transparentize($mustard, 0.5);
    color: #444;
    font-weight: normal;
    @extend .gamma;
    position: relative;
    top: -0.125em;
    &:hover {
        color: $mustard;
    }
}


// $no-js Code Block Styles
// ============================================================

.typeplate-code-block pre {
    background: hsl(207, 89%, 7%);
    padding: $line-height * 1rem;
    code {
        color: #dfdfdf;
    }
}


// $Blockquotes -> .extract class
// ============================================================

blockquote {
    font-style: italic;
    @extend .epsilon;
    // so there's no extra line separating the quote and the citation
    p:last-of-type {
        margin-bottom: 0;
    }
    cite {
        font-style: normal;
        @extend %cite;
        &:before {
            content:"—";
        }
    }
}


// $Ampersand Demo
// ============================================================

.ampersands {
    h2 {
        font-size: 2em;
        text-align: center;
    }
}


// $Icon Font Demo
// ============================================================

.icons {
    font-size: 3em;
    .fs1 {
        display: inline-block;
        &:before {
            padding-right: .25em;
            color: gray;
        }
    }
}


// $Typekit
// ============================================================
/*!
 * FF Meta Serif Web Pro
 * The most influential sans serif of the digital revolution (FF Meta)
 * now has a serif companion. It took three years and three designers
 * to develop FF Meta Serif: Erik Spiekermann, Christian Schwartz and
 * Kris Sowersby. More about FF Meta Serif Web Pro http://metaserif.com
 */

body {
    font-weight: 400;
    //gives font loading a little class
    @include transition(.0123s opacity ease-in-out);
    //Typekit Active FOUT Loading
    .wf-loading & {
        font-family: serif;
        //Opacity Fallback
        visibility: hidden;
        opacity: 0;
    }
    //Typekit Active FOUT Loading
    .wf-active & {
        font-family: "ff-meta-serif-web-pro",serif;
        font-weight: 400;
        //Opacity Fallback
        visibility: visible;
        opacity: 1;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

// $Cassannet
// ============================================================
@font-face {
  font-family: 'Cassannet';
  src: url('../fonts/cassannet/cassannet.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cassannet/cassannet.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cassannet/cassannet.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cassannet/cassannet.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cassannet/cassannet.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: 'Cassannet Bold';
//   src: url('../fonts/cassannet-bold/cassannet-bold.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/cassannet-bold/cassannet-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/cassannet-bold/cassannet-bold.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/cassannet-bold/cassannet-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/cassannet-bold/cassannet-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
//   font-weight: normal;
//   font-style: normal;
// }


// $Navigation
// ============================================================

nav[role="navigation"] {
    // in preparation for inline-block children
    letter-spacing: -4px;
    @extend %rhythm;
}


// $Buttons
// ============================================================

// via inuit.css by @csswizardry (Harry Roberts)
.btn {
    font: inherit;
    cursor: pointer;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: 1;
    // padding in ems so we can change the size of a button by altering its `font-size`.
    padding: 0.5em 0.5em;
    // remove inline-block spacing bug
    letter-spacing: normal;
}

.btn,
.btn:hover {
    text-decoration: none;
}

.btn-full {
    display: block;
    text-align: center;
    // The following is so that `.btn-full` works properly on `input`s as well as `a`s.
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.btn-box {
    margin-top: 0;
    margin-bottom: $line-height * 1rem;
    border-radius: 6px;
    margin-right: 1rem;
    background: gray;
    color: #fafafa;

    @include transition(0.132s all ease);
    &:hover {
        background: lighten(gray, 5%);
        color: #fafafa;
    }
}

//.btn-action {}


// $Letterpress
// ============================================================

.letterpress {
    font-style: italic;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-shadow: 0 1px 1px hsl(0, 0%, 100%), 0 0 0 hsl(0, 0%, 2%);
    color: darken(gray, 20%);
}


// $Helpers
// ============================================================

.center {
    text-align: center;
}

.capsify {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

// when narrowing the main body is aesthetically necessary, as currently in the header
.col-narrow {
    padding: 0 3em;
}

// generic bottom rule class
.botDivider {
    border-bottom: 0.44444444rem solid transparentize($cobalt-deep, 0.75);// Thickness is based on the thickness of meta-serif stems (measured 8px at 18px font-size)
}

//control our vertical rhythm
%rhythm {
    margin-top: 0;
    margin-bottom: $line-height * 1rem;
}

// headings helper ala harry roberts
%hN {
    text-rendering: optimizeLegibility;
    // don't use shorthand to avoid spoiling left/right padding on things like buttons
    margin-top: $line-height * 1rem;
    margin-bottom: $line-height * 1rem;
    line-height: 1;
    & + %hN {
        padding-top: 0;
    }
}

