// ampersand demo
.ampersands {
    h2 {
        font-size: 2em;
        text-align: center;
    }
}

//icon demo font-size
.icons {
    font-size: 3em;
    .fs1 {
        display: inline-block;
        &:before {
            padding-right: .25em;
            color: gray;
        }
    }
}


// ampersand demo
h1.helvetica,
h1.georgia {
    display: inline-block;
    margin-top: 0;
    margin-bottom: .25em;
    font-size: 9em;
}
h1.helvetica {
    font-family: Helvetica;
}
h1.georgia {
    font-family: Georgia;
}



// $Typekit
// ============================================================
// FF Meta Serif Web Pro
// The most influential sans serif of the digital revolution (FF Meta)
// now has a serif companion. It took three years and three designers
// to develop FF Meta Serif: Erik Spiekermann, Christian Schwartz and
// Kris Sowersby. More about FF Meta Serif Web Pro http://metaserif.com

body {
    font-weight: 400;
    .wf-loading & {
        font-family: serif;
        visibility: hidden;
    }
    .wf-active & {
        font-family: "ff-meta-serif-web-pro",serif;
        font-weight: 400;
        visibility: visible;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
