// $Variables
// ============================================================

@import "vars";


// $Global Elements
// ============================================================

body {
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    background: image-url("subtle_grunge.png") top left repeat;
}

a {
    text-decoration: none;
}

// for now, since font-variant: small-caps is fucking up
abbr {
    font-variant: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $rust;
}

img {
    max-width: 100%;
}

// $What Are These?
// ============================================================

.tera {
    padding: 0.25em 0;
}

.col-narrow {
    padding: 0 3em;
}

.botDivider {
    border-bottom: 1px solid transparentize($cobalt-deep, 0.75);
    @extend %rhythm;
}


// $Permalink Anchor
// ============================================================

.perma-anchor {
    // color: transparentize($mustard, 0.5);
    color: #444;
    font-weight: normal;
    @extend .gamma;
    position: relative;
    top: -0.125em;
    &:hover {
        color: $mustard;
    }
}

// $no-js Code Block Styles
// ============================================================
.typeplate-code-block {
    background: hsl(207, 89%, 7%);
    padding: 0.5em $line-height * 1rem;
    code {
        color: #dfdfdf;
    }
}


// $Ampersand Demo
// ============================================================

.ampersands {
    h2 {
        font-size: 2em;
        text-align: center;
    }
}


// $Icon Font Demo
// ============================================================

.icons {
    font-size: 3em;
    .fs1 {
        display: inline-block;
        &:before {
            padding-right: .25em;
            color: gray;
        }
    }
}


// $Font-Size-Adjust Demo
// ============================================================

.font-size-adjust-demo {
    text-align: center;
}
.helvetica,
.georgia {
    display: inline-block;
    font-size: 9em;
    line-height: 1;
}
.helvetica {
    font-family: Verdana;
}
.georgia {
    font-family: Helvetica;
}


// $Typekit
// ============================================================
/*!
 * FF Meta Serif Web Pro
 * The most influential sans serif of the digital revolution (FF Meta)
 * now has a serif companion. It took three years and three designers
 * to develop FF Meta Serif: Erik Spiekermann, Christian Schwartz and
 * Kris Sowersby. More about FF Meta Serif Web Pro http://metaserif.com
 */

body {
    font-weight: 400;
    //gives font loading a little class
    @include transition(.0123s opacity ease-in-out);
    //Typekit Active FOUT Loading
    .wf-loading & {
        font-family: serif;
        //Opacity Fallback
        visibility: hidden;
        opacity: 0;
    }
    //Typekit Active FOUT Loading
    .wf-active & {
        font-family: "ff-meta-serif-web-pro",serif;
        font-weight: 400;
        //Opacity Fallback
        visibility: visible;
        opacity: 1;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}


// $Navigation
// ============================================================

nav[role="navigation"] {
    // in preparation for inline-block children
    letter-spacing: -4px;
    @extend %rhythm;
}


// $Buttons
// ============================================================

// via inuit.css by @csswizardry (Harry Roberts)
.btn {
    font:inherit;
    cursor:pointer;
    border:none;
    display:inline-block;
    vertical-align: middle;
    margin: 0;
    line-height:1;
    // padding in ems so we can change the size of a button by altering its `font-size`.
    padding: 0.5em 0.5em;
    // remove inline-block spacing bug
    letter-spacing: normal;
}
.btn,
.btn:hover {
    text-decoration:none;
}

.btn-full {
    display:block;
    text-align:center;
    // The following is so that `.btn-full` works properly on `input`s as well as `a`s.
    padding-right:0;
    padding-left: 0;
    width:100%;
}

.btn-box {
    margin-top: 0;
    margin-bottom: $line-height * 1rem;
    border-radius: 6px;
    margin-right: 1rem;
    //color: $cobalt-deep;
    //background: $rust;
    //
    //colorless
    color: #EFEFEF;
    background: gray;
    @include transition(0.132s background ease);
    &:hover {
        // background: $rust-deep;
        // color: #fafafa;
        //
        //colorless
        color: #EFEFEF;
        background: lighten(gray, 5%);
        // We'll do this with @keyframes which should be a little smoother
        //@include transform(translateY(-0.5rem));
    }
}

.btn-action {
    // background-color: $crimson-light;
    position: relative;
}


// $Letterpress
// ============================================================

.letterpress {
    font-style: italic;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-shadow: 0 1px 1px hsl(0, 0%, 100%), 0 0 0 hsl(0, 0%, 2%);
    //color
    //color: $cobalt-fade;
    //colorless
    color: darken(gray, 20%);
}


// $Helpers
// ============================================================

.center {
    text-align: center;
}

//control our vertical rhythm
%rhythm {
    margin-top: 0;
    margin-bottom: $line-height * 1rem;
}

// headings helper ala harry roberts
%hN {
    text-rendering: optimizeLegibility;
    // don't use shorthand to avoid spoiling left/right padding on things like buttons
    margin-top: $line-height * 1rem;
    margin-bottom: $line-height * 1rem;
    line-height: 1;
    & + %hN {
        padding-top: 0;
    }
}
