// $Base Type
// ============================================================

$weight: normal;
$line-height: 1.65;
$font-size: 112.5; // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value
$font-family: Georgia, serif;
$font-properties: $weight, $line-height, $font-size, $font-family;


// $Color
// ============================================================


$rust: hsl(10, 70%, 50%);
$rust-deep: saturate(darken($rust, 25%), 25%);

$mustard: hsl(37, 73%, 50%);
$mustard-deep: saturate(darken($mustard, 15%), 25%);

$cobalt: hsl(210, 100%, 16%);
$cobalt-fade: transparentize($cobalt, 0.2); // makes it's alpha 0.8
$cobalt-deep: darken($cobalt, 38%);