// $Base Type
// ============================================================

$weight: normal;
$line-height: 1.65;
$font-size: 112.5; // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value
$font-family: Georgia, serif;
$font-properties: $weight, $line-height, $font-size, $font-family;


// $Color
// ============================================================

$crimson: hsl(350, 60%, 57%);
$crimson-light: transparentize($crimson, 0.5); // makes it's alpha 0.5

$cobalt: hsl(210, 40%, 55%);
$cobalt-light: transparentize($cobalt, 0.2); // makes it's alpha 0.8
$cobalt-lighter: transparentize($cobalt, 0.5); // makes it's alpha 0.5
$cobalt-deep: darken($cobalt, 38%);