/*!
 * web-thang v1.0
 ============================================================
 *    url: https://github.com/zakkain/web-thang
 *
 *    authors: Zachary Kain (@zakkain) / Dennis Gaebel (@gryghostvisuals)
 *    license: this work is in the public domain
 *    http://creativecommons.org/publicdomain/zero/1.0
 *
 *    elements of this stylesheet were first published by:
 *    Paul Irish, Divya Manian, Nicolas Gallagher,
 *    Mathias Bynens, Shi Chuan, Harry Roberts,
 *    Lea Verou, Joni Korpi, Tim Brown, and many others.
 *
 *    this stylesheet was written with the utmost care and
 *    dedication given to proper attribution and sourcing.
 ============================================================
*/


// $Current Pattern Libraries
// ============================================================

// REUZE ME
    // http://reuze.me
// PEARS
    // http://pea.rs
// INUIT
    // http://inuitcss.com
// THIS IS RESPONSIVE
    // http://bradfrost.github.com/this-is-responsive/
// WebCraft
    // https://github.com/zakkain/webcraft


// $W3C Specs
// ============================================================

// http://dev.w3.org/csswg/css3-fonts


// $Resources
// ============================================================
// http://blog.typekit.com/2010/10/15/type-rendering-operating-systems
// http://stylemanual.org
// http://ui-patterns.com
// http://www.kaikkonendesign.fi/typography
// http://www.w3.org/wiki/Common_HTML_entities_used_for_typography
// http://webdesignerwall.com/tutorials/using-html-symbol-entities


// $Compass
// ============================================================

@import "compass";


// $Normalize CSS Bower Package
// ============================================================

@import "../components/normalize-css/normalize.css";


// $Mixins
// ============================================================

@import "mixins";


// $Prism
// ============================================================

// Prism code highlighting
@import "prism";


// $Icons
// ============================================================

@import "icons";


// $Site Specific
// ============================================================

@import "site";


// $Globals
// ============================================================

a { text-decoration: none; }


// $Base Type
// ============================================================

$weight: normal;
$line-height: 1.5;
$font-size: 100%;
$font-base: 16;
$font-family: Georgia, serif;
$font-properties: $weight, $line-height, $font-size, $font-family;

@mixin body-copy($weight, $line-height, $font-size, $font-family...) {
   font: $weight #{$font-size}/#{$line-height} $font-family;
}

html {
    //http://filamentgroup.com/lab/how_we_learned_to_leave_body_font_size_alone
    @include body-copy($font-properties...);
}

body {
    width: 90vw;
    max-width: 34em;
    margin: 0 auto;
    @include word-wrap(break-word);
    @include font-size-adjust(0.48);
}


// $Typographic scale
// ============================================================
// 72, 60, 48, 36, 24, 21, 18, 16, 14, 12, 11, 10, 9, 8, 7, 6
// http://thesassway.com/projects/modular-scale

@function calc-modular-scale($scale, $base, $value) {
    @return ($scale/$base)#{$value};
}

@mixin modular-scale($scale, $base, $value) {
  font-size: calc-modular-scale($scale, $base, $value);
}

$heading1:   72;
$heading2:   60;
$heading3:   48;
$heading4:   36;
$heading5:   24;
$heading6:   21;
$paragraphs: 18;
$type-scale-unit-value: rem;

h1 {
    @include modular-scale($heading1, $font-base, '#{$type-scale-unit-value}'); //2.25rem
    //line-height: 1.08333333333333;
}

h2 {
    @include modular-scale($heading2, $font-base, '#{$type-scale-unit-value}'); //1.5rem
    //line-height: 1.08333333333333;
}

h3 {
    @include modular-scale($heading3, $font-base, '#{$type-scale-unit-value}'); //1.125rem
}

h4 {
    @include modular-scale($heading4, $font-base, '#{$type-scale-unit-value}'); //0.875rem
}

h5 {
    @include modular-scale($heading5, $font-base, '#{$type-scale-unit-value}'); //0.875rem
}

h6 {
    @include modular-scale($heading6, $font-base, '#{$type-scale-unit-value}'); //0.875rem
}

p {
    @include modular-scale($paragraphs, $font-base, '#{$type-scale-unit-value}'); //1rem
}


// $Color
// ============================================================

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}


// $Small Caps
// ============================================================
// http://blog.hypsometry.com/articles/true-small-capitals-with-font-face
// ISSUE#1 : https://github.com/zakkain/web-thang/issues/1

@mixin smallcaps($color, $font-weight) {
    font-variant: small-caps;
    font-weight: $font-weight;
    text-transform: lowercase;
    color: $color;
}

abbr {
    @include smallcaps(gray, 600);
    &:hover {
        cursor: help;
    }
}


// $Unicode Ampersand
// ============================================================
// targeting ampersands through unicode-range
// http://24ways.org/2011/creating-custom-font-stacks-with-unicode-range
// http://nimbupani.com/jscamp-css-next.html

$amp-font-name: Ampersand;
$amp-font-source: local('Georgia'), local('Palatino'), local('Book Antiqua');
$amp-font-fallback: local('Georgia');

@font-face {
    font-family: '#{$amp-font-name}';
    src: $amp-font-source;
    unicode-range: U+26;
}
@font-face {
    font-family: '#{$amp-font-name}'; // Ampersand fallback font for unicode range
    src: $amp-font-fallback;
    unicode-range: U+270C;
}

@mixin ampersand($amp-font-family...) {
    font-family: $amp-font-family;
}

%ampersand-placeholder {
    @include ampersand(Ampersand, Arial, sans-serif);
}

.amp {
    @extend %ampersand-placeholder;
}


// $Hyphens
// ============================================================
//http://trentwalton.com/2011/09/07/css-hyphenation

$indent-val: 1.5em;

@mixin txt-indent($indent) {
    text-indent: $indent;
}

@mixin css-hyphens($val) {
    -webkit-hyphens: $val; // Safari 6
    -moz-hyphens: $val; // FF19
    -ms-hyphens: $val; // IE10
    hyphens: $val; // standard
};

body {
    //Ala Trent Walton
    @include css-hyphens(auto);
}


// $Indenting
// ============================================================

p {
    & + p {
        @include txt-indent($indent-val);
    }
}


// $Pull Quotes
// ============================================================
// http://24ways.org/2005/swooshy-curly-quotes-without-images

.entry {
    position: relative;
    padding-right: 50%;
    .pull-quote {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
    }
}

.bqstart {
    float: left;
    height: 45px;
    margin-top: -50px;
    //padding-top: 45px;
    margin-bottom: 50px;
    font-size: 700%;
    color: red;
}

.bqend {
    float: right;
    height: 25px;
    margin-top: -50px;
    padding-top: 15px;
    font-size: 700%;
    color: red;
}


// $Blockquotes
// ============================================================

@mixin cite-style($display:block, $text-align:right, $font-size: .875em) {
    display: $display;
    font-size: $font-size;
    text-align: $text-align;
}

cite {
    @include cite-style;
}


// $Code Blocks
// ============================================================
// https://developer.mozilla.org/en-US/docs/CSS/white-space

pre code {
    word-wrap: normal;
    white-space: pre-wrap;
}

pre {
    word-wrap: auto;      // IE 5.5-7
    white-space: -moz-pre-wrap; // Firefox 1.0-2.0
    white-space: pre-wrap;      // current browsers
}

code {
    white-space: pre;
    font-family: monospace;
}


// $Drop Cap
// ============================================================

@mixin dropcap($float, $font, $fontSize, $margin, $padding, $color: null, $lineHeight: null, $bg: null) {
    float: $float;
    margin: $margin;
    padding: $padding;
    font-family: $font;
    font-size: $fontSize;
    line-height: $lineHeight;
    background: $bg;
    color: $color;
}

.drop-cap:first-letter {
    @include dropcap(left, 'Georgia, sans-serif', 4em, 0 .5em auto 0, 0 .5em 0, $color: white, $bg:gray);
}


// $Stats Tab
// ============================================================

$stats-font-size: 1.5rem;
$stats-list-margin: 0 0.625rem 0 0;
$stats-list-padding: 0 0.625rem 0 0;
$stats-item-font-size: 0.1875rem;
$stats-item-margin: 0.125rem 0 0 0;
$stats-border-style: 0.125rem solid #ccc;

.stats-tabs {
    li {
        display: inline-block;
        margin: $stats-list-margin;
        padding: $stats-list-padding;
        border-right: $stats-border-style;
        &:last-child {
            margin: 0;
            padding: 0;
            border: none;
        }
        a {
            display: inline-block;
            font-size: $stats-font-size;
            font-weight: bold;
            b {
                display: block;
                margin: $stats-item-margin;
                font-size: $stats-item-font-size;
                font-weight: normal;
            }
        }
    }
}


// $Definition Lists
// ============================================================
// lining
// http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css
//
// dictionary-style
// http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css

@mixin definition-list-style($style) {
    // lining style
    @if $style == lining {
        dt, dd {
            display: inline;
            margin: 0;
        }
        dt, dd {
            & + dt {
                &:before {
                    content: "\A";
                    white-space: pre;
                }
            }
        }
        dd {
            & + dd {
                &:before {
                    content: ", ";
                }
            }
            &:before {
                    content: ": ";
                    margin-left: -0.2rem; // removes extra space between the dt and the colon
            }
        }
    }
    // dictionary-style
    @if $style == dictionary-style {
        dt {
            display: inline;
            counter-reset: definitions;
            & + dt {
                &:before {
                    content: ", ";
                    margin-left: -0.2rem; /* removes extra space between the dt and the comma */
                }
            }
        }
        dd {
            display: block;
            counter-increment: definitions;
            &:before {
                content: counter(definitions, decimal) ". ";
            }
        }
    }
}

.lining {
    @include definition-list-style(lining);
}

.dictionary-style {
    @include definition-list-style(dictionary-style);
}
