/*!
 * web-thang v1.0
 ============================================================
 *    url: https://github.com/zakkain/web-thang
 *
 *    authors: Zachary Kain (@zakkain) / Dennis Gaebel (@gryghostvisuals)
 *    license: this work is in the public domain
 *    http://creativecommons.org/publicdomain/zero/1.0
 *
 *    elements of this stylesheet were first published by:
 *    Paul Irish, Divya Manian, Nicolas Gallagher,
 *    Mathias Bynens, Shi Chuan, Harry Roberts,
 *    Lea Verou, Joni Korpi, Tim Brown, and many others.
 *
 *    this stylesheet was written with the utmost care and
 *    dedication given to proper attribution and sourcing.
 ============================================================
*/


// $Current Pattern Libraries
// ============================================================

// REUZE ME
    // http://reuze.me
// PEARS
    // http://pea.rs
// INUIT
    // http://inuitcss.com
// THIS IS RESPONSIVE
    // http://bradfrost.github.com/this-is-responsive/
// WebCraft
    // https://github.com/zakkain/webcraft


// $W3C Specs
// ============================================================

// http://dev.w3.org/csswg/css3-fonts


// $Resources
// ============================================================
// http://blog.typekit.com/2010/10/15/type-rendering-operating-systems
// http://stylemanual.org
// http://ui-patterns.com
// http://www.kaikkonendesign.fi/typography
// http://www.w3.org/wiki/Common_HTML_entities_used_for_typography
// http://webdesignerwall.com/tutorials/using-html-symbol-entities


// $Compass
// ============================================================

@import "compass";


// $Normalize CSS Bower Package
// ============================================================

@import "../components/normalize-css/normalize.css";


// $Mixins
// ============================================================

@import "mixins";


// $Prism
// ============================================================

// Prism code highlighting
@import "prism";


// $Icons
// ============================================================

@import "icons";


// $Site Specific
// ============================================================

@import "site";


// $Globals
// ============================================================



// $Base Type
// ============================================================

$weight: normal;
$line-height: 1.65;
$font-size: 112.5; // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value
$font-family: Georgia, serif;
$font-properties: $weight, $line-height, $font-size, $font-family;

@mixin body-copy($weight, $line-height, $font-size, $font-family...) {
   font: $weight #{$font-size}%/#{$line-height} $font-family;
}

html {
    @include body-copy($font-properties...);
}

body {
    width: 90vw;
    max-width: 34em;
    margin: 0 auto;
    @include word-wrap(break-word);
    @include font-size-adjust(0.48);
    @include css-hyphens(auto);
}

// $Typographic scale
// ============================================================
// 72, 60, 48, 36, 24, 21, 18, 16, 14, 12, 11, 10, 9, 8, 7, 6
// http://thesassway.com/projects/modular-scale

@function calc-modular-scale($scale, $base, $value) {
    @return ($scale/$base)#{$value};
}

@mixin modular-scale($scale, $base, $value) {
  font-size: calc-modular-scale($scale, $base, $value);
}

$giga:      90; // 90 = 18 × 5
$mega:      72; // 72 = 18 × 4
$alpha:     60; // 60 = 18 × 3.3333
$beta:      48; // 72 = 18 × 2.6667
$gamma:     36; // 72 = 18 × 2
$delta:     24; // 72 = 18 × 1.3333
$epsilon:   21; // 72 = 18 × 1.1667
$zeta:      18; // 72 = 18 × 1
$type-scale-unit-value: rem;


%rhythm {
    margin-top: 0;
    margin-bottom: $line-height * 1rem;
}

%hN {
    padding: ($line-height * 1rem) 0;
    line-height: 1;
    margin: 0;
    & + %hN {
        padding-top: 0;
    }
}

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma,
.delta, .epsilon, .zeta {
    @extend %hN;
}

.giga {
    @include modular-scale($giga, $font-base, '#{$type-scale-unit-value}'); //2.25rem
}

.mega {
    @include modular-scale($mega, $font-base, '#{$type-scale-unit-value}'); //2.25rem
}

h1, .alpha {
    @include modular-scale($alpha, $font-base, '#{$type-scale-unit-value}'); //2.25rem
}

h2, .beta {
    @include modular-scale($beta, $font-base, '#{$type-scale-unit-value}'); //1.5rem
}

h3, .gamma {
    @include modular-scale($gamma, $font-base, '#{$type-scale-unit-value}'); //1.125rem
}

h4, .delta {
    @include modular-scale($delta, $font-base, '#{$type-scale-unit-value}'); //0.875rem
}

h5, .epsilon {
    @include modular-scale($epsilon, $font-base, '#{$type-scale-unit-value}'); //0.875rem
}

h6, .zeta {
    @include modular-scale($zeta, $font-base, '#{$type-scale-unit-value}'); //0.875rem
}


// $Color
// ============================================================



// $Indenting
// ============================================================

p {
    // reset top margin, and set bottom margin equal to one unit of line-height
    @extend %rhythm;
    & + p:not(.hN) {
        @include txt-indent($indent-val);
        // since we don't want indents and paragraph breaks, fake removing the bottom margin on the previous paragraph
        margin-top: $line-height * -1rem;
    }
}


// $Pull Quotes
// ============================================================
// http://24ways.org/2005/swooshy-curly-quotes-without-images

.entry {
    position: relative;
    padding-right: 50%;
    .pull-quote {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
    }
}

.bqstart {
    float: left;
    height: 45px;
    margin-top: -50px;
    //padding-top: 45px;
    margin-bottom: 50px;
    font-size: 700%;
    color: red;
}

.bqend {
    float: right;
    height: 25px;
    margin-top: -50px;
    padding-top: 15px;
    font-size: 700%;
    color: red;
}


// $Blockquotes
// ============================================================

@mixin cite-style($display:block, $text-align:right, $font-size: .875em) {
    display: $display;
    font-size: $font-size;
    text-align: $text-align;
}

cite {
    @include cite-style;
}


// $Code Blocks
// ============================================================
// https://developer.mozilla.org/en-US/docs/CSS/white-space

pre code {
    word-wrap: normal;
    white-space: pre-wrap;
}

pre {
    word-wrap: auto;      // IE 5.5-7
    white-space: -moz-pre-wrap; // Firefox 1.0-2.0
    white-space: pre-wrap;      // current browsers
}

code {
    white-space: pre;
    font-family: monospace;
}


// $Drop Cap
// ============================================================

@mixin dropcap($float, $font, $fontSize, $margin, $padding, $color: null, $lineHeight: null, $bg: null) {
    float: $float;
    margin: $margin;
    padding: $padding;
    font-family: $font;
    font-size: $fontSize;
    line-height: $lineHeight;
    background: $bg;
    color: $color;
}

.drop-cap:first-letter {
    @include dropcap(left, 'Georgia, sans-serif', 4em, 0 .5em auto 0, 0 .5em 0, $color: white, $bg:gray);
}


// $Stats Tab
// ============================================================

$stats-font-size: 1.5rem;
$stats-list-margin: 0 0.625rem 0 0;
$stats-list-padding: 0 0.625rem 0 0;
$stats-item-font-size: 0.1875rem;
$stats-item-margin: 0.125rem 0 0 0;
$stats-border-style: 0.125rem solid #ccc;

.stats-tabs {
    li {
        display: inline-block;
        margin: $stats-list-margin;
        padding: $stats-list-padding;
        border-right: $stats-border-style;
        &:last-child {
            margin: 0;
            padding: 0;
            border: none;
        }
        a {
            display: inline-block;
            font-size: $stats-font-size;
            font-weight: bold;
            b {
                display: block;
                margin: $stats-item-margin;
                font-size: $stats-item-font-size;
                font-weight: normal;
            }
        }
    }
}


// $Definition Lists
// ============================================================
// lining
// http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css
//
// dictionary-style
// http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css

@mixin definition-list-style($style) {
    // lining style
    @if $style == lining {
        dt, dd {
            display: inline;
            margin: 0;
        }
        dt, dd {
            & + dt {
                &:before {
                    content: "\A";
                    white-space: pre;
                }
            }
        }
        dd {
            & + dd {
                &:before {
                    content: ", ";
                }
            }
            &:before {
                    content: ": ";
                    margin-left: -0.2rem; // removes extra space between the dt and the colon
            }
        }
    }
    // dictionary-style
    @if $style == dictionary-style {
        dt {
            display: inline;
            counter-reset: definitions;
            & + dt {
                &:before {
                    content: ", ";
                    margin-left: -0.2rem; /* removes extra space between the dt and the comma */
                }
            }
        }
        dd {
            display: block;
            counter-increment: definitions;
            &:before {
                content: counter(definitions, decimal) ". ";
            }
        }
    }
}

.lining {
    @include definition-list-style(lining);
}

.dictionary-style {
    @include definition-list-style(dictionary-style);
}
