@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+26;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}

@font-face {
  font-family: 'Ampersand';
  src: local("Georgia"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+26;
}

@font-face {
  font-family: 'Ampersand';
  src: local("Georgia");
  unicode-range: U+270C;
}

.amp {
  font-family: Ampersand, Arial, sans-serif;
}

html {
  font: normal 112.5%/1.65 Georgia, serif;
}

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* font-size-adjust: 0.48; */
  word-wrap: break-word;
  color: #444;
}

.giga {
  font-size: 5em;
}

.mega {
  font-size: 4em;
}

h1 {
  font-size: 3.33333em;
}

h2 {
  font-size: 2.66667em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.33333em;
}

h5 {
  font-size: 1.16667em;
}

h6 {
  font-size: 1em;
}

p + p {
  text-indent: 1.5em;
}

.drop-cap:first-letter {
  float: left;
  margin: 0 0.5em auto 0;
  padding: 0 0.5em 0;
  font-family: "Georgia, sans-serif";
  font-size: 4em;
  background: gray;
  color: white;
}

abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray;
}
abbr:hover {
  cursor: help;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

.lining dt, .lining dd {
  display: inline;
  margin: 0;
}
.lining dt + dt:before, .lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
.lining dd + dd:before {
  content: ", ";
}
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}

.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
.dictionary-style dd:before {
  content: counter(definitions, decimal) ". ";
}
