// $Global Elements
// ============================================================

body {
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
    background: image-url("subtle_grunge.png") top left repeat;
    color: #212121;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: #212121;
}

p code, .example code {
    // some bug with monospace things causes <code> elements to not inherit the font-size of the <html> element
    // <code> elements inside <pre> DO inherit the proper size, for some reason, so we scope this style to the elements we need
    font-size: 1.125em;
    // so code doesn't wrap onto a second line in the middle of a piece of a word
    word-wrap: normal;
}

abbr {
    // @include smallcaps(gray, 600);
    // ff-meta-serif has no real small caps, so we fake it
    font-variant: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
        cursor: help;
    }
}

dl {
    margin-top: 0;
}

small {
    font-size: 65%;
}

img {
    max-width: 100%;
}

section {
    padding: $line-height * 0.5em 0 $line-height * 1em;
}


// $Table of Contents
// ============================================================

.toc ol {
    list-style: decimal !important;
    counter-reset: item;
}
.toc li {
    @extend .zeta;
    display: block;
}

.toc ol li:before {
    counter-increment: item;
    color: #444;
    font-style: normal;
    font-family: "Cassannet", "ff-meta-serif-web-pro", serif;
}

// epic loop wizardy!
@for $i from 1 through 4 {
    .toc ol:nth-of-type(#{$i}) li:before {
        content: "#{$i}." counter(item) " – ";
    }
}


// $Example Figures
// ============================================================

.example {
    background: #dddddd;
    background: hsla(0, 0%, 0%, 0.1);
    border: 1px solid hsla(0, 0%, 0%, 0.15);
    box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.75);
    padding: $line-height * 1rem $line-height * 1rem 0;
    margin: $line-height * 1.5rem 0 $line-height * 1rem;
    border-radius: 0.333333em;
    &:before {
        content: "example:";
        @extend .epsilon;
        display: block;
        font-family: "Cassannet", sans-serif;
        background: none;
        line-height: 0;
        position: relative;
        color: #212121;
        top: -2.125em;
        left: -1.65rem;
    }
}
.example > pre {
    margin-top: 0;
    overflow: auto;
    white-space: pre;
    word-spacing: normal;
    @include word-wrap(normal);
}


// $Permalink Anchor
// ============================================================

.perma-anchor {
    // color: transparentize($mustard, 0.5);
    color: #444;
    font-weight: normal;
    @extend .gamma;
    position: relative;
    top: -0.125em;
    &:hover {
        color: $mustard;
    }
}


// $no-js Code Block Styles
// ============================================================

.typeplate-code-block {
    pre {
        background: #dddddd;
        background: hsla(0, 0%, 0%, 0.1);
        border: 1px solid hsla(0, 0%, 0%, 0.15);
        box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.75);
        padding: $line-height * 1rem;
    }
    code {
        color: #444;
    }
}


// $Blockquotes -> .extract class
// ============================================================

blockquote {
    font-style: italic;
    @extend .epsilon;
    // so there's no extra line separating the quote and the citation
    p:last-of-type {
        margin-bottom: 0;
    }
    cite {
        font-style: normal;
        @extend %cite;
        &:before {
            content:"—";
        }
    }
}


// $Typographic Scale Demo
// ============================================================

// this is a peculiar instance because we're stacking lots of titles atop one another
// so we manually nix the normal amount of margin below titles
.typographic-scale .no-indent {
    margin: 0;
}


// $Ampersand Demo
// ============================================================

.amp {
    text-align: center;
}


// $Figure Demo
// ============================================================

.example-figcaption {
    font-style: italic;
    font-size: 0.85em;
    @extend %rhythm;
    strong {
        font-style: normal;
    }
}


// $Icon Font Demo
// ============================================================

.icons {
    @extend .beta;
    .fs1 {
        display: inline-block;
        &:before {
            padding-right: .25em;
            color: gray;
        }
    }
}


// $Typekit
// ============================================================
/*!
 * FF Meta Serif Web Pro
 * The most influential sans serif of the digital revolution (FF Meta)
 * now has a serif companion. It took three years and three designers
 * to develop FF Meta Serif: Erik Spiekermann, Christian Schwartz and
 * Kris Sowersby. More about FF Meta Serif Web Pro http://metaserif.com
 */

body {
    font-weight: 400;
    //gives font loading a little class
    @include transition(.00123s opacity ease-in);
    //Typekit Active FOUT Loading
    .wf-loading & {
        font-family: serif;
        //Opacity Fallback
        visibility: hidden;
        opacity: 0;
    }
    //Typekit Active FOUT Loading
    .wf-active &,
    .wf-inactive & {
        font-family: "ff-meta-serif-web-pro",serif;
        font-weight: 400;
        //Opacity Fallback
        visibility: visible;
        opacity: 1;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}


// $Cassannet @font-face
// ============================================================
// We use a helper from our compass config for this
// http://compass-style.org/reference/compass/css3/font_face/

// Cassannet Regular
@include font-face("Cassannet", font-files(
    "cassannet/cassannet.eot", ///* IE9 Compat Modes */
    "cassannet/cassannet.eot?#iefix", // IE6-IE8
    "cassannet/cassannet.woff", // Modern Browsers
    "cassannet/cassannet.ttf", // Safari, Android, iOS
    "cassannet/cassannet.svg#svgFontName" // Legacy iOS
));
// Cassannet Bold
// @include font-face("Cassannet Bold", font-files(
//     "cassannet/cassannet-bold.eot", ///* IE9 Compat Modes */
//     "cassannet/cassannet-bold.eot?#iefix", // IE6-IE8
//     "cassannet/cassannet-bold.woff", // Modern Browsers
//     "cassannet/cassannet-bold.ttf", // Safari, Android, iOS
//     "cassannet/cassannet-bold.svg#svgFontName" // Legacy iOS
// ));


// $Navigation
// ============================================================

nav[role="navigation"] {
    // in preparation for inline-block children
    letter-spacing: -4px;
    @extend %rhythm;
}


// $Buttons
// ============================================================

// via inuit.css by @csswizardry (Harry Roberts)
.btn {
    font: inherit;
    cursor: pointer;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: 1;
    // padding in ems so we can change the size of a button by altering its `font-size`.
    padding: 0.5em 0.5em;
    // remove inline-block spacing bug
    letter-spacing: normal;
}

.btn,
.btn:hover {
    text-decoration: none;
}

.btn-full {
    display: block;
    text-align: center;
    // The following is so that `.btn-full` works properly on `input`s as well as `a`s.
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.btn-box {
    margin-top: 0;
    margin-bottom: $line-height * 1rem;
    border-radius: 6px;
    margin-right: 1rem;
    background: gray;
    color: #fafafa;

    @include transition(0.132s all ease);
    &:hover {
        background: lighten(gray, 5%);
        color: #fafafa;
    }
}

//.btn-action {}


// $Letterpress
// ============================================================

.letterpress {
    font-style: italic;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-shadow: 0 1px 1px hsl(0, 0%, 100%), 0 0 0 hsl(0, 0%, 2%);
    color: darken(gray, 20%);
}

// $Footer
// ============================================================

.site-footer {
    margin-top: 3em;
    font-size: 75%;
}



// $Helpers
// ============================================================

.center {
    text-align: center;
}

.capsify {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

// when narrowing the main body is aesthetically necessary, as currently in the header
.col-narrow {
    padding: 0 3em;
}

// generic bottom rule class
.botDivider {
    border-bottom: 0.44444444rem solid transparentize($cobalt-deep, 0.75);// Thickness is based on the thickness of meta-serif stems (measured 8px at 18px font-size)
}

//control our vertical rhythm
%rhythm {
    margin-top: 0;
    margin-bottom: $line-height * 1rem;
}

// headings helper ala harry roberts
%hN {
    text-rendering: optimizeLegibility;
    // don't use shorthand to avoid spoiling left/right padding on things like buttons
    margin-top: $line-height * 1rem;
    margin-bottom: $line-height * 1rem;
    line-height: 1;
    & + %hN {
        margin: 0;
    }
}
