// ==========================================================================
// $Variables
// ==========================================================================

$weight: normal;
$line-height: 1.65;
$font-size: 112.5; // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value
$font-family: Georgia, serif;
$font-properties: $weight, $line-height, $font-size, $font-family;

//ampersand
$amp-font: local('Georgia'), local('Palatino'), local('Book Antiqua');

//headings
$giga:      90; // 90 = 18 × 5
$mega:      72; // 72 = 18 × 4
$alpha:     60; // 60 = 18 × 3.3333
$beta:      48; // 72 = 18 × 2.6667
$gamma:     36; // 72 = 18 × 2
$delta:     24; // 72 = 18 × 1.3333
$epsilon:   21; // 72 = 18 × 1.1667
$zeta:      18; // 72 = 18 × 1

//typscale unit
$type-scale-unit-value: em;

//paragraphs indent
$indent-val: 1.5em;

//ampersand @font-face declarations
$amp-font-name: Ampersand;
$amp-font-source: local('Georgia'), local('Palatino'), local('Book Antiqua');
$amp-font-fallback: local('Georgia');


// ==========================================================================
// $Font-Face
// ==========================================================================

@font-face {
    font-family: '#{$amp-font-name}';
    src: $amp-font-source;
    unicode-range: U+26;
}
@font-face {
    font-family: '#{$amp-font-name}'; // Ampersand fallback font for unicode range
    src: $amp-font-fallback;
    unicode-range: U+270C;
}


// $Modular Scale
// ==========================================================================
//http://thesassway.com/projects/modular-scale
@function calc-modular-scale($scale, $base, $value) {
    @return ($scale/$base)#{$value};
}
@mixin modular-scale($scale, $base, $value) {
  font-size: calc-modular-scale($scale, $base, $value);
}


// $body Copy Mixin
// ==========================================================================

@mixin body-copy($weight, $line-height, $font-size, $font-family...) {
   font: $weight #{$font-size}%/#{$line-height} $font-family;
}

// $Text Indent Mixin
// ==========================================================================
@mixin txt-indent($indent) {
    text-indent: $indent;
}


// $Hyphen Mixin
// ==========================================================================
//http://trentwalton.com/2011/09/07/css-hyphenation/
@mixin css-hyphens($val) {
    -webkit-hyphens: $val; // Safari 6
    -moz-hyphens: $val; // FF19
    -ms-hyphens: $val; // IE10
    hyphens: $val; // standard
};


// $Small Caps Mixin
// ==========================================================================
@mixin smallcaps($color, $font-weight) {
    font-variant: small-caps;
    font-weight: $font-weight;
    text-transform: lowercase;
    color: $color;
}


// $Font-Size Adjust Mixin
// ==========================================================================
@mixin font-size-adjust($adjust-value) {
    // firefox 17+ only (as of Jan 2013)
    font-size-adjust: $adjust-value;
}


// $Ampersand Mixin
// ==========================================================================
@mixin ampersand($amp-font-family...) {
    font-family: $amp-font-family;
}


// $Word Wrap
// ============================================================

@mixin word-wrap($wrap-value) {
    // normal: Indicates that lines may only break at normal word break points.
    // break-word : Indicates that normally unbreakable words may be broken at ...
    // arbitrary points if there are no otherwise acceptable break points in the line.
    word-wrap: $wrap-value;
}


// $Definition List Mixin
// ==========================================================================
@mixin definition-list-style($style) {
    // lining style
    @if $style == lining {
        dt, dd {
            display: inline;
            margin: 0;
        }
        dt, dd {
            & + dt {
                &:before {
                    content: "\A";
                    white-space: pre;
                }
            }
        }
        dd {
            & + dd {
                &:before {
                    content: ", ";
                }
            }
            &:before {
                    content: ": ";
                    margin-left: -0.2rem; // removes extra space between the dt and the colon
            }
        }
    }
    // dictionary-style
    @if $style == dictionary-style {
        dt {
            display: inline;
            counter-reset: definitions;
            & + dt {
                &:before {
                    content: ", ";
                    margin-left: -0.2rem; /* removes extra space between the dt and the comma */
                }
            }
        }
        dd {
            display: block;
            counter-increment: definitions;
            &:before {
                content: counter(definitions, decimal) ". ";
            }
        }
    }
}


// $Ampersand fontface
// ==========================================================================

@font-face {
    font-family: 'Ampersand';
    src: $amp-font;
    unicode-range: U+26;
}
//fallback for unicode range
@font-face {
    /* Ampersand fallback font */
    font-family: 'Ampersand';
    src: local('Georgia');
    unicode-range: U+270C;
}


// $Ampersand
// ==========================================================================

%ampersand-placeholder {
    @include ampersand(Ampersand, Arial, sans-serif);
}

.amp {
    @extend %ampersand-placeholder;
}


// $Body Type Base
// ==========================================================================

html {
    @include body-copy($font-properties...);
}

// Reverse Variable Arguments
body {
    @include css-hyphens(auto);
    @include font-size-adjust(0.48);
    @include word-wrap(break-word);
    color: #444;
}


// $Headings
// ==========================================================================

.giga {
    @include modular-scale($giga, $font-base, '#{$type-scale-unit-value}');
}

.mega {
    @include modular-scale($mega, $font-base, '#{$type-scale-unit-value}');
}

h1 {
    @include modular-scale($alpha, $font-base, '#{$type-scale-unit-value}');
}

h2 {
    @include modular-scale($beta, $font-base, '#{$type-scale-unit-value}');
}

h3 {
    @include modular-scale($gamma, $font-base, '#{$type-scale-unit-value}');
}

h4 {
    @include modular-scale($delta, $font-base, '#{$type-scale-unit-value}');
}

h5 {
    @include modular-scale($epsilon, $font-base, '#{$type-scale-unit-value}');
}

h6 {
    @include modular-scale($zeta, $font-base, '#{$type-scale-unit-value}');
}


// ==========================================================================
// $Paragraphs
// ==========================================================================

p {
    // normal: Indicates that lines may only break at normal word break points.
    // break-word : Indicates that normally unbreakable words may be broken at ...
    // arbitrary points if there are no otherwise acceptable break points in the line.
    word-wrap: break-word; // other option is normal
    //Ala Trent Walton
    @include css-hyphens(auto);
    //siblings indentation
    & + p {
        //Indenting
        @include txt-indent($indent-val);
    }
}


// ==========================================================================
// $Dropcaps
// ==========================================================================

@mixin dropcap($float, $font, $fontSize, $margin, $padding, $color: null, $lineHeight: null, $bg: null) {
    float: $float;
    margin: $margin;
    padding: $padding;
    font-family: $font;
    font-size: $fontSize;
    line-height: $lineHeight;
    background: $bg;
    color: $color;
}

.drop-cap:first-letter {
    @include dropcap(left, 'Georgia, sans-serif', 4em, 0 .5em auto 0, 0 .5em 0, $color: white, $bg:gray);
}


// ==========================================================================
// $Small Caps
// ==========================================================================

abbr {
    @include smallcaps(gray, 600);
    &:hover {
        cursor: help;
    }
}


// ==========================================================================
// $Color
// ==========================================================================

h1,h2,h3,h4,h5,h6 { color: #222; }


// ==========================================================================
// $Definition Lists
// ==========================================================================

.lining {
    @include definition-list-style(lining);
}

.dictionary-style {
    @include definition-list-style(dictionary-style);
}
